<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script>
		$(function(){
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			console.log("아작스실행")
			$.ajax({
				url:'/api/statistics/circleGraph',
				type : 'post',
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					circle_graph_call(res.data.datacolumns);
					bar_graph_call(res.data.datacolumns);
				}
			})
		});

		// 원형 차트
		function circle_graph_call(data_columns) {
			var pie = c3.generate({
				bindto: "#pie_chart",
				data: {
					columns: [['정부·지자체', 5],['타 기관', 3],['KICT 자체', 13],],
					//columns: data_columns,
					type: 'pie'
				},
				tooltip: {
					format: {
						value: function (value, ratio, id) {
							return value + '건';
						}
					}
				}
			})
		}

		function bar_graph_call(data_columns){
			var a = new Array(0, 0, 0, 0, 0, 0, 0);
			var bar = c3.generate({
				bindto: "#pie_chart2",
				data: {
					columns: [
							['정부·지자체', 5],
							['타 기관', 3],
							['KICT 자체', 13]
					],
					//columns: data_columns,
					type: 'bar'
				},
				bar: {
					width: {
						ratio: .3
					}
				},
				axis: {
					x: {
						type: 'category',
					},
					y: {
						label: {
							position: 'outer-middle'
						}
					}
				},
				grid: {
					y: {
						show: true
					}
				},
				legend: {
					position: 'bottom'
				}
			})
		}

	</script>
</th:block>

<div layout:fragment="content" class="content">
	<section class="section">
		<div class="stat">
			<div class="stat__dual">
				<div class="stat__dual-item">
					<h3 class="stat__title">출동요청기관</h3>
					<div class="stat__circle" id="pie_chart"></div>
				</div>
				<div class="stat__dual-item">
					<h3 class="stat__title">출동지역</h3>
					<div class="stat__map"></div>
					<div class="stat__local-table"></div>
				</div>
			</div>
			<div class="stat__dual">
				<div class="stat__dual-item">
					<h3 class="stat__title">막대그래프</h3>
					<div class="stat__circle" id="pie_chart2"></div>
				</div>
			</div>
		</div>
	</section>

</div>
</html>