<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script>
		$(function(){
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			console.log("그래프 실행")
			$.ajax({
				url:'/api/statistics/dataGraph',
				type : 'post',
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					circle_graph_call(res.data.circle_data_columns);
					disaster_graph_call(res.data.disaster_data_columns);
					fac_graph_call(res.data.fac_data_columns);
					team_graph_call(res.data.team_data_columns,res.data.teamsData);
					month_graph_call(res.data.month_data_columns);
				}
			})

			console.log("지도그래프 실행")
			$('.stat__map-tab').on('click', 'a.stat__tab-link', function(e) {
				var $parent = $(this).parent();
				var _index = $parent.index();
				var $content = $('.stat__tab-content li').eq(_index);

				$parent.add($content).addClass('active').siblings().removeClass('active');

				e.preventDefault();
			}).find('.stat__tab-link').eq(1).trigger('click');

		});

		// 원형 그래프데이터
		function circle_graph_call(circle_data_columns) {
			var pie = c3.generate({
				bindto: "#pie_chart1",
				data: {
					columns: circle_data_columns,
					type: 'pie'
				},
				tooltip: {
					format: {
						value: function (value) {
							return value + '건';
						}
					}
				}
			})
		}

		// 재해재난 그래프데이터
		function disaster_graph_call(disaster_data_columns) {
			var chart = c3.generate({
				bindto: "#bar_chart1",
				data: {
					columns: disaster_data_columns,
					type: 'bar'
				},
				axis: {
					x: {
						type: 'category',
						categories: ['붕괴', '화재/폭발', '지진', '싱크홀', '교통사고', '홍수/가뭄', '환경오염']
					}
				},
				tooltip: {
					format: {
						value: function (value) {
							return value + '건';
						}
					}
				}
			})
		}

		// 조사시설물 그래프데이터
		function fac_graph_call(fac_data_columns) {
			var chart = c3.generate({
				bindto: "#bar_chart2",
				data: {
					columns: fac_data_columns,
					type: 'bar'
				},
				axis: {
					x: {
						type: 'category',
						categories: ['교량', '옹벽', '비탈면', '터널', '도로', '기타도로시설', '건축물', '지반', '지하시설물', '기타']
					}
				},
				tooltip: {
					format: {
						value: function (value) {
							return value + '건';
						}
					}
				}
			})
		}

		// 부서별 출동현황 그래프데이터
		function team_graph_call(team_data_columns,teamsData) {
			var chart = c3.generate({
				bindto: "#bar_team",
				data: {
					columns: [
						[5, 5, 3, 1, 1, 1, 1, 1, 2, 1]
					],
					type: 'bar'
				},
				axis: {
					x: {
						type: 'category',
						categories: ['노후인프라센터', '인프라안전연구본부', '국토보전연구본부', '미래융합연구본부', '국민생활연구본부', '화재안전연구소', '연구전략기획본부', '스마트시티연구센터', '기타']
					}
				},
				tooltip: {
					format: {
						value: function (value) {
							return value + '건';
						}
					}
				},
				legend: {
					hide: true
				}
			})
		}

		// 월별 출동현황 그래프데이터
		function month_graph_call(month_data_columns) {
			var chart = c3.generate({
				bindto: "#bar_chart3",
				data: {
					columns: month_data_columns,
					//columns: month_data_columns,
					type: 'bar'
				},
				axis: {
					x: {
						type: 'category',
						categories: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']
					}
				},
				tooltip: {
					format: {
						value: function (value) {
							return value + '건';
						}
					}
				}
			})
		}

	</script>
</th:block>

<div layout:fragment="content" class="content">
	<section class="section">
		<div class="stat">
			<div class="stat__dual">
				<div class="stat__dual-item">
					<h3 class="stat__title">출동요청기관</h3>
					<div class="stat__circle" id="pie_chart1"></div>
				</div>
				<div class="stat__dual-item">
					<h3 class="stat__title">출동지역</h3>
					<div class="stat__map-area">
						<div class="stat__map-tab">
							<ul>
								<li>
									<a href="#" class="stat__tab-link" th:text="${productionYear}"></a>
								</li>
								<li>
									<a href="#" class="stat__tab-link" th:text="${nowYear}"></a>
								</li>
							</ul>
						</div>
						<div class="stat__map">
							<img src="/assets/images/map.png" alt="" />
							<ul class="stat__tab-content">
								<li>
									<!--/*@thymesVar id="productionYearCitys" type=""*/-->
									<span class="stat__map-point seoul" title="서울특별시" th:text="${productionYearCitys} ? ${productionYearCitys[0]} : ''"></span>
									<span class="stat__map-point busan" title="부산광역시" th:text="${productionYearCitys} ? ${productionYearCitys[3]} : ''"></span>
									<span class="stat__map-point daegu" title="대구광역시" th:text="${productionYearCitys} ? ${productionYearCitys[2]} : ''"></span>
									<span class="stat__map-point incheon" title="인천광역시" th:text="${productionYearCitys} ? ${productionYearCitys[1]} : ''"></span>
									<span class="stat__map-point gwangju" title="광주광역시" th:text="${productionYearCitys} ? ${productionYearCitys[6]} : ''"></span>
									<span class="stat__map-point daejeon" title="대전광역시" th:text="${productionYearCitys} ? ${productionYearCitys[4]} : ''"></span>
									<span class="stat__map-point ulsan" title="울산광역시" th:text="${productionYearCitys} ? ${productionYearCitys[5]} : ''"></span>
									<span class="stat__map-point sejong" title="세종특별자치시" th:text="${productionYearCitys} ? ${productionYearCitys[16]} : ''"></span>
									<span class="stat__map-point gyenggi" title="경기도" th:text="${productionYearCitys} ? ${productionYearCitys[7]} : ''"></span>
									<span class="stat__map-point gangwon" title="강원도" th:text="${productionYearCitys} ? ${productionYearCitys[8]} : ''"></span>
									<span class="stat__map-point chungnam" title="충청남도" th:text="${productionYearCitys} ? ${productionYearCitys[10]} : ''"></span>
									<span class="stat__map-point chungbuk" title="충청북도" th:text="${productionYearCitys} ? ${productionYearCitys[9]} : ''"></span>
									<span class="stat__map-point jeonnam" title="전라남도" th:text="${productionYearCitys} ? ${productionYearCitys[12]} : ''"></span>
									<span class="stat__map-point jeonbuk" title="전라북도" th:text="${productionYearCitys} ? ${productionYearCitys[11]} : ''"></span>
									<span class="stat__map-point gyeongnam" title="경상남도" th:text="${productionYearCitys} ? ${productionYearCitys[14]} : ''"></span>
									<span class="stat__map-point gyeongbuk" title="경상북도" th:text="${productionYearCitys} ? ${productionYearCitys[13]} : ''"></span>
									<span class="stat__map-point jeju" title="제주특별자치도" th:text="${productionYearCitys} ? ${productionYearCitys[15]} : ''"></span>
								</li>
								<li>
									<!--/*@thymesVar id="nowYearCitys" type=""*/-->
									<span class="stat__map-point seoul" title="서울특별시" th:text="${nowYearCitys} ? ${nowYearCitys[0]} : ''"></span>
									<span class="stat__map-point busan" title="부산광역시" th:text="${nowYearCitys} ? ${nowYearCitys[3]} : ''"></span>
									<span class="stat__map-point daegu" title="대구광역시" th:text="${nowYearCitys} ? ${nowYearCitys[2]} : ''"></span>
									<span class="stat__map-point incheon" title="인천광역시" th:text="${nowYearCitys} ? ${nowYearCitys[1]} : ''"></span>
									<span class="stat__map-point gwangju" title="광주광역시" th:text="${nowYearCitys} ? ${nowYearCitys[6]} : ''"></span>
									<span class="stat__map-point daejeon" title="대전광역시" th:text="${nowYearCitys} ? ${nowYearCitys[4]} : ''"></span>
									<span class="stat__map-point ulsan" title="울산광역시" th:text="${nowYearCitys} ? ${nowYearCitys[5]} : ''"></span>
									<span class="stat__map-point sejong" title="세종특별자치시" th:text="${nowYearCitys} ? ${nowYearCitys[16]} : ''"></span>
									<span class="stat__map-point gyenggi" title="경기도" th:text="${nowYearCitys} ? ${nowYearCitys[7]} : ''"></span>
									<span class="stat__map-point gangwon" title="강원도" th:text="${nowYearCitys} ? ${nowYearCitys[8]} : ''"></span>
									<span class="stat__map-point chungnam" title="충청남도" th:text="${nowYearCitys} ? ${nowYearCitys[10]} : ''"></span>
									<span class="stat__map-point chungbuk" title="충청북도" th:text="${nowYearCitys} ? ${nowYearCitys[9]} : ''"></span>
									<span class="stat__map-point jeonnam" title="전라남도" th:text="${nowYearCitys} ? ${nowYearCitys[12]} : ''"></span>
									<span class="stat__map-point jeonbuk" title="전라북도" th:text="${nowYearCitys} ? ${nowYearCitys[11]} : ''"></span>
									<span class="stat__map-point gyeongnam" title="경상남도" th:text="${nowYearCitys} ? ${nowYearCitys[14]} : ''"></span>
									<span class="stat__map-point gyeongbuk" title="경상북도" th:text="${nowYearCitys} ? ${nowYearCitys[13]} : ''"></span>
									<span class="stat__map-point jeju" title="제주특별자치도" th:text="${nowYearCitys} ? ${nowYearCitys[15]} : ''"></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="stat__local-table">
						<div class="stat__unit">단위: 건</div>
						<table class="c-table c-table--small">
							<colgroup>
								<col />
								<col style="width: 50px;" />
								<col style="width: 50px;" />
							</colgroup>
							<thead>
								<tr>
									<th></th>
									<th th:text="${productionYear}"></th>
									<th th:text="${nowYear}"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>서울특별시</th>
									<td th:text="${productionYearCitys[0]}"></td>
									<td th:text="${nowYearCitys[0]}"></td>
								</tr>
								<tr>
									<th>부산광역시</th>
									<td th:text="${productionYearCitys[3]}"></td>
									<td th:text="${nowYearCitys[3]}"></td>
								</tr>
								<tr>
									<th>대구광역시</th>
									<td th:text="${productionYearCitys[2]}"></td>
									<td th:text="${nowYearCitys[2]}"></td>
								</tr>
								<tr>
									<th>인천광역시</th>
									<td th:text="${productionYearCitys[1]}"></td>
									<td th:text="${nowYearCitys[1]}"></td>
								</tr>
								<tr>
									<th>광주광역시</th>
									<td th:text="${productionYearCitys[6]}"></td>
									<td th:text="${nowYearCitys[6]}"></td>
								</tr>
								<tr>
									<th>대전광역시</th>
									<td th:text="${productionYearCitys[4]}"></td>
									<td th:text="${nowYearCitys[4]}"></td>
								</tr>
								<tr>
									<th>울산광역시</th>
									<td th:text="${productionYearCitys[5]}"></td>
									<td th:text="${nowYearCitys[5]}"></td>
								</tr>
								<tr>
									<th>세종특별자치시</th>
									<td th:text="${productionYearCitys[16]}"></td>
									<td th:text="${nowYearCitys[16]}"></td>
								</tr>
								<tr>
									<th>경기도</th>
									<td th:text="${productionYearCitys[7]}"></td>
									<td th:text="${nowYearCitys[7]}"></td>
								</tr>
								<tr>
									<th>강원도</th>
									<td th:text="${productionYearCitys[8]}"></td>
									<td th:text="${nowYearCitys[8]}"></td>
								</tr>
								<tr>
									<th>충청남도</th>
									<td th:text="${productionYearCitys[10]}"></td>
									<td th:text="${nowYearCitys[10]}"></td>
								</tr>
								<tr>
									<th>충청북도</th>
									<td th:text="${productionYearCitys[9]}"></td>
									<td th:text="${nowYearCitys[9]}"></td>
								</tr>
								<tr>
									<th>전라남도</th>
									<td th:text="${productionYearCitys[12]}"></td>
									<td th:text="${nowYearCitys[12]}"></td>
								</tr>
								<tr>
									<th>전라북도</th>
									<td th:text="${productionYearCitys[11]}"></td>
									<td th:text="${nowYearCitys[11]}"></td>
								</tr>
								<tr>
									<th>경상남도</th>
									<td th:text="${productionYearCitys[14]}"></td>
									<td th:text="${nowYearCitys[14]}"></td>
								</tr>
								<tr>
									<th>경상북도</th>
									<td th:text="${productionYearCitys[13]}"></td>
									<td th:text="${nowYearCitys[13]}"></td>
								</tr>
								<tr>
									<th>제주특별자치도</th>
									<td th:text="${productionYearCitys[15]}"></td>
									<td th:text="${nowYearCitys[15]}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="stat__item">
				<h3 class="stat__title">재해·재난 유형</h3>
				<div class="stat__chart" id="bar_chart1"></div>
			</div>
			<div class="stat__item">
				<h3 class="stat__title">조사시설물</h3>
				<div class="stat__chart" id="bar_chart2"></div>
			</div>
			<div class="stat__item">
				<h3 class="stat__title">부서별 출동 현황</h3>
				<div class="stat__chart" id="bar_team"></div>
			</div>
			<div class="stat__item">
				<h3 class="stat__title">월별 출동 현황</h3>
				<div class="stat__chart" id="bar_chart3"></div>
			</div>
		</div>
	</section>

</div>
</html>