<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/chart-example.js"></script>
	<script>
		$(function(){
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			console.log("원형그래프 실행")
			$.ajax({
				url:'/api/statistics/circleGraph',
				type : 'post',
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					circle_graph_call(res.data.datacolumns);
				}
			})

			console.log("지도그래프 실행")
			$('.stat__map-tab').on('click', 'a.stat__tab-link', function(e) {
				var $parent = $(this).parent();
				var _index = $parent.index();
				var $content = $('.stat__tab-content li').eq(_index);

				$parent.add($content).addClass('active').siblings().removeClass('active');

				e.preventDefault();
			}).find('.stat__tab-link').eq(1).trigger('click');

		});

		// 원형 차트
		function circle_graph_call(data_columns) {
			var pie = c3.generate({
				bindto: "#pie_chart1",
				data: {
					columns: data_columns,
					type: 'pie'
				},
				tooltip: {
					format: {
						value: function (value, ratio, id) {
							return value + '건';
						}
					}
				}
			})
		}



	</script>
</th:block>

<div layout:fragment="content" class="content">
	<section class="section">
		<div class="stat">
			<div class="stat__dual">
				<div class="stat__dual-item">
					<h3 class="stat__title">출동요청기관</h3>
					<div class="stat__circle" id="pie_chart1"></div>
				</div>
				<div class="stat__dual-item">
					<h3 class="stat__title">출동지역</h3>
					<div class="stat__map-area">
						<div class="stat__map-tab">
							<ul>
								<li>
									<a href="#" class="stat__tab-link" th:text="${year2}"></a>
								</li>
								<li>
									<a href="#" class="stat__tab-link" th:text="${year}"></a>
								</li>
							</ul>
						</div>
						<div class="stat__map">
							<img src="/assets/images/map.png" alt="" />
							<ul class="stat__tab-content">
								<li>
									<span class="stat__map-point seoul" title="서울특별시" th:text="${localyears2[0]}"></span>
									<span class="stat__map-point busan" title="부산광역시" th:text="${localyears2[3]}"></span>
									<span class="stat__map-point daegu" title="대구광역시" th:text="${localyears2[2]}"></span>
									<span class="stat__map-point incheon" title="인천광역시" th:text="${localyears2[1]}"></span>
									<span class="stat__map-point gwangju" title="광주광역시" th:text="${localyears2[6]}"></span>
									<span class="stat__map-point daejeon" title="대전광역시" th:text="${localyears2[4]}"></span>
									<span class="stat__map-point ulsan" title="울산광역시" th:text="${localyears2[5]}"></span>
									<span class="stat__map-point sejong" title="세종특별자치시" th:text="${localyears2[16]}"></span>
									<span class="stat__map-point gyenggi" title="경기도" th:text="${localyears2[7]}"></span>
									<span class="stat__map-point gangwon" title="강원도" th:text="${localyears2[8]}"></span>
									<span class="stat__map-point chungnam" title="충청남도" th:text="${localyears2[10]}"></span>
									<span class="stat__map-point chungbuk" title="충청북도" th:text="${localyears2[9]}"></span>
									<span class="stat__map-point jeonnam" title="전라남도" th:text="${localyears2[12]}"></span>
									<span class="stat__map-point jeonbuk" title="전라북도" th:text="${localyears2[11]}"></span>
									<span class="stat__map-point gyeongnam" title="경상남도" th:text="${localyears2[14]}"></span>
									<span class="stat__map-point gyeongbuk" title="경상북도" th:text="${localyears2[13]}"></span>
									<span class="stat__map-point jeju" title="제주특별자치도" th:text="${localyears2[15]}"></span>
								</li>
								<li>
									<span class="stat__map-point seoul" title="서울특별시" th:text="${localyears[0]}"></span>
									<span class="stat__map-point busan" title="부산광역시" th:text="${localyears[3]}"></span>
									<span class="stat__map-point daegu" title="대구광역시" th:text="${localyears[2]}"></span>
									<span class="stat__map-point incheon" title="인천광역시" th:text="${localyears[1]}"></span>
									<span class="stat__map-point gwangju" title="광주광역시" th:text="${localyears[6]}"></span>
									<span class="stat__map-point daejeon" title="대전광역시" th:text="${localyears[4]}"></span>
									<span class="stat__map-point ulsan" title="울산광역시" th:text="${localyears[5]}"></span>
									<span class="stat__map-point sejong" title="세종특별자치시" th:text="${localyears[16]}"></span>
									<span class="stat__map-point gyenggi" title="경기도" th:text="${localyears[7]}"></span>
									<span class="stat__map-point gangwon" title="강원도" th:text="${localyears[8]}"></span>
									<span class="stat__map-point chungnam" title="충청남도" th:text="${localyears[10]}"></span>
									<span class="stat__map-point chungbuk" title="충청북도" th:text="${localyears[9]}"></span>
									<span class="stat__map-point jeonnam" title="전라남도" th:text="${localyears[12]}"></span>
									<span class="stat__map-point jeonbuk" title="전라북도" th:text="${localyears[11]}"></span>
									<span class="stat__map-point gyeongnam" title="경상남도" th:text="${localyears[14]}"></span>
									<span class="stat__map-point gyeongbuk" title="경상북도" th:text="${localyears[13]}"></span>
									<span class="stat__map-point jeju" title="제주특별자치도" th:text="${localyears[15]}"></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="stat__local-table">
						<div class="stat__unit">단위: 건</div>
						<table class="c-table c-table--small">
							<colgroup>
								<col />
								<col style="width: 50px;" />
								<col style="width: 50px;" />
							</colgroup>
							<thead>
								<tr>
									<th></th>
									<th th:text="${year2}"></th>
									<th th:text="${year}"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>서울특별시</th>
									<td th:text="${localyears2[0]}"></td>
									<td th:text="${localyears[0]}"></td>
								</tr>
								<tr>
									<th>부산광역시</th>
									<td th:text="${localyears2[3]}"></td>
									<td th:text="${localyears[3]}"></td>
								</tr>
								<tr>
									<th>대구광역시</th>
									<td th:text="${localyears2[2]}"></td>
									<td th:text="${localyears[2]}"></td>
								</tr>
								<tr>
									<th>인천광역시</th>
									<td th:text="${localyears2[1]}"></td>
									<td th:text="${localyears[1]}"></td>
								</tr>
								<tr>
									<th>광주광역시</th>
									<td th:text="${localyears2[6]}"></td>
									<td th:text="${localyears[6]}"></td>
								</tr>
								<tr>
									<th>대전광역시</th>
									<td th:text="${localyears2[4]}"></td>
									<td th:text="${localyears[4]}"></td>
								</tr>
								<tr>
									<th>울산광역시</th>
									<td th:text="${localyears2[5]}"></td>
									<td th:text="${localyears[5]}"></td>
								</tr>
								<tr>
									<th>세종특별자치시</th>
									<td th:text="${localyears2[16]}"></td>
									<td th:text="${localyears[16]}"></td>
								</tr>
								<tr>
									<th>경기도</th>
									<td th:text="${localyears2[7]}"></td>
									<td th:text="${localyears[7]}"></td>
								</tr>
								<tr>
									<th>강원도</th>
									<td th:text="${localyears2[8]}"></td>
									<td th:text="${localyears[8]}"></td>
								</tr>
								<tr>
									<th>충청남도</th>
									<td th:text="${localyears2[10]}"></td>
									<td th:text="${localyears[10]}"></td>
								</tr>
								<tr>
									<th>충청북도</th>
									<td th:text="${localyears2[9]}"></td>
									<td th:text="${localyears[9]}"></td>
								</tr>
								<tr>
									<th>전라남도</th>
									<td th:text="${localyears2[12]}"></td>
									<td th:text="${localyears[12]}"></td>
								</tr>
								<tr>
									<th>전라북도</th>
									<td th:text="${localyears2[11]}"></td>
									<td th:text="${localyears[11]}"></td>
								</tr>
								<tr>
									<th>경상남도</th>
									<td th:text="${localyears2[14]}"></td>
									<td th:text="${localyears[14]}"></td>
								</tr>
								<tr>
									<th>경상북도</th>
									<td th:text="${localyears2[13]}"></td>
									<td th:text="${localyears[13]}"></td>
								</tr>
								<tr>
									<th>제주특별자치도</th>
									<td th:text="${localyears2[15]}"></td>
									<td th:text="${localyears[15]}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="stat__item">
				<h3 class="stat__title">재해·재난 유형</h3>
				<div class="stat__chart" id="bar_chart"></div>
			</div>
			<div class="stat__item">
				<h3 class="stat__title">조사시설물</h3>
				<div class="stat__chart" id="bar_chart2"></div>
			</div>
			<div class="stat__item">
				<h3 class="stat__title">부서별 출동 현황</h3>
				<div class="stat__chart" id="bar_team"></div>
			</div>
			<div class="stat__item">
				<h3 class="stat__title">월별 출동 현황</h3>
				<div class="stat__chart" id="bar_chart3"></div>
			</div>
		</div>
	</section>

</div>
</html>