@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Malgun Gothic', sans-serif;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
/*
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* common */
body {
    /*background-color: #efefef;*/
}
.wrap {
	/*overflow: hidden;*/
}
.wrapper {
    width: 100%;
    position: relative;
    padding-top: 80px;
	/* -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in; */
}
/* .wrapper.nav--open {
	-webkit-transform:translate3d(300px, 0, 0);
   -moz-transform:translate3d(300px, 0, 0);
   -o-transform:translate3d(300px, 0, 0);
   transform:translate3d(300px, 0, 0);
} */
/* header */
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #181a1f;
	z-index: 10;
}
.header__inner {
    width: 100%;
    /* max-width: 1080px; */
    margin: 0 auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.header__inner:before {
    content: " ";
    display: table;
}
.header__inner:after {
    content: " ";
    display: table;
    clear: both;
}
.header__inner .logo {
    float: left;
    height: 80px;
    padding: 0 20px;
    line-height: 80px;
    color: #f99d1c;
    font-size: 32px;
    font-weight: 700;
}
.header__inner .info {
    float: right;
    padding: 20px 0;
}
.header__inner .info:before {
    content: " ";
    display: table;
}
.header__inner .info:after {
    content: " ";
    display: table;
    clear: both;
}
.header__inner .info li {
    float: left;
	position: relative;
}
.header__inner .info li + li {
    margin-left: 10px;
}
.info__btn {
	position: relative;
    min-width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}


/* nav-icon */
.nav-icon {
    float: left;
    width: 45px;
    height: 30px;
    margin-top: 25px;
    margin-right: 10px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.nav-icon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.nav-icon span:nth-child(1) {
  top: 0px;
}
.nav-icon span:nth-child(2),.nav-icon span:nth-child(3) {
  top: 12px;
}
.nav-icon span:nth-child(4) {
  top: 24px;
}
.nav-icon.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}
.nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-icon.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

/* nav */
.nav {
	overflow: auto;
	position: fixed;
	top: 0;
	left: -300px;
	width: 300px;
	height: 100vh;
	background-color: #3e4046;
	-moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
	z-index: 1;
}
.wrapper.nav--open .nav {
	left: 0;
}
.wrapper.nav--open .nav-icon {
	position: fixed;
	top: 0;
	left: 240px;
	z-index: 10;
}
.nav__heading {
	height: 80px;
	padding: 0 20px;
	line-height: 80px;
}
.nav__heading a {
	color: #f99d1c;
	font-size: 32px;
	font-weight: 700;
}
.nav__list {
	width: 300px;
	/* height: 100%; */
}
.nav__item {
	margin: 0;
}
.nav__link {
	display: block;
	width: 100%;
	height: 60px;
	padding: 0 20px;
	color: #fff;
	font-size: 18px;
	line-height: 60px;
	/* font-weight: 700; */
	border-top: 1px solid #333;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.nav__link:hover {
	background-color: #111;
}
.nav__list-depth {
	overflow: hidden;
	display: none;
	background-color: #555;
}
.nav__list-depth.show {
	/* display: block; */
}
.nav__list-depth .nav__link {
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
	font-size: 14px;
}
@media (max-width: 420px) {
	.nav-icon {
		margin-right: 5px;
	}
}
/* content */
.content {
	postion: relative;
    width: 100%;
    min-height: calc(100vh - 110px);
    padding: 50px 20px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content.non-padding {
	padding: 50px 0 0;
}
/* footer */
.footer {
    width: 100%;
    height: 30px;
    padding: 0 20px;
    background-color: #696b71;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* main */
.main {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	height: calc(100vh - 110px);
	background-color: #fff no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.login-box {
	position: absolute;
	top: 50%;
	left: 40px;
	border: 1px solid #222;
	background-color: #fff;
	padding: 20px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login-box__inner {
	width: 100%;
}
.login-box__input-box + .login-box__input-box,
.login-box__input-box + .c-checkbox {
	margin-top: 20px;
}
.login-box__label {
	display: block;
	margin-bottom: 10px;
	color: #222;
	font-size: 14px;
}
.login-box__text {
	display: block;
}
.login-box__text span {
	color: #222;
	font-size: 14px;
}
.login-box__input {
	width: 100%;
	height: 34px;
	border: 1px solid #222;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login-box__button {
	display: block;
	width: 100%;
	height: 34px;
	margin-top: 20px;
	background-color: #222;
	border: 1px solid #222;
	color: #fff;
	font-size: 16px;
	line-height: 34px;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: all .2s;
}
.login-box__button:hover {
	color: #222;
	background-color: #dfdfdf
}

.banner {
	position: absolute;
	right: 100px;
	top: 50%;
	width: 300px;
	margin: 0 -1px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);;
}
.banner__list:before {
	content: " ";
	display: table;
}
.banner__list:after {
	content: " ";
	display: table;
	clear: both;
}
.banner__item {
	float: left;
	width: 50%;
	padding: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.banner__item:last-child {
	width: 100%;
}
.banner__link {
	display: block;
	width: 100%;
	height: 200px;
	border: 1px solid #222;
	background-color: #fff;
	color: #222;
	line-height: 50px;
	font-size: 14px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* subpage */



/* login page */
.login-wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
}
.login {
	position: fixed;
	width: 500px;
	top: 50%;
	left: 50%;
	padding: 50px 40px;
	background-color: #181a1f;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}
.login__logo {
	text-align: center;
}
.login__logo a {
	color: #f99d1c;
	font-size: 36px;
	font-weight: 700;
}
.login__form-box {
	margin-top: 40px;
}
.login__form-box > form > div + div {
	margin-top: 20px;
}
.login__input {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	border: 1px solid #97999f;
	background-color: fff;
	color: #181a1f;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login__btn {
	display: block;
	width: 100%;
	height: 40px;
	border: 0;
	background-color: #696b71;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
	cursor: pointer;
	transition: background-color .2s;
}
.login__btn:hover {
	background-color: #97999f;
	color: #3e4046;
}
.login__message {
	position: absolute;
	bottom: 25px;
	left: 40px;
	color: #fff;
	font-size: 14px;
}

/* join */
.join {
	position: relative;
	width: 100%;
	height: 100%;
}
.join__box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	padding: 20px;
	border: 1px solid #222;
	background-color: #fff;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.join__title {
	padding: 20px 0;
}
.join__form,
.member {
	position: relative;
}
.join__form-item + .join__form-item,
.member__form-item + .member__form-item {
	margin-top: 15px;
}
.join__label {
	display: block;
	margin-bottom: 5px;
	color: #222;
	font-size: 14px;
}
.join__input {
	width: 100%;
	height: 34px;
	padding: 0 10px;
	border: 1px solid #222;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.join__input[readonly] {
	background-color: #ddd;
}
.join__submit {
	display: block;
	width: 100%;
	height: 40px;
	margin-top: 20px;
	border: 0;
	background-color: #222;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
	cursor: pointer;
	transition: background-color .2s;
}
.join__submit:hover {
	background-color: #dfdfdf;
	color: #3e4046;
}


/* error page */
.error-wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
}
.error {
	position: fixed;
	width: 500px;
	top: 50%;
	left: 50%;
	padding: 50px 40px;
	background-color: #181a1f;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}
.error__heading {
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-weight: 700;
}
.error__heading span {
	display: block;
	font-size: 48px;
}
.error__message {
	margin-top: 40px;
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.error__home-btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding-right: 40px;
	color: #fff;
}
.error__home-btn:before {
	content: " ";
	position: absolute;
	width: 40px;
	height: 1px;
	bottom: 0;
	right: 0;
	background-color: #fff;
}
.error__home-btn:after {
	content: " ";
	position: absolute;
	width: 1px;
	height: 15px;
	bottom: 0;
	right: 5px;
	background-color: #fff;
	transform: rotate(145deg);
}
