<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/assets/js/summernote/summernote-lite.css" />
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	

</th:block>



<div layout:fragment="content" class="content">
	<section class="section">
		<article class="article">
			<h2 class="article__heading">공지사항</h2>
			<div class="notice-view">
				<div class="notice-view__contents">
					<table class="c-table">
						<colgroup>
							<col style="width: 150px;" />
							<col />
							<col style="width: 150px;" />
							<col />
							<col style="width: 150px;" />
							<col />
						</colgroup>
						<tbody>
							<tr>
								<td colspan="6" class="align--center" th:text="${notice?.subject}"></td>
							</tr>
							<tr>
								<th>작성자</th>
								<td th:text="${notice?.modify_name}"></td>
								<th>게시일</th>
								<td th:text="${notice?.modifyDateTime}"></td>
								<th>조회수</th>
								<td th:text="${notice?.hitCount}"></td>
							</tr>
							<tr>
								<td colspan="6">
									<div class="note-frame" th:utext="${notice?.content}">

									</div>
								</td>
							</tr>
							<tr>
								<th>첨부파일</th>
								<td colspan="5">
									<ul class="c-file-list">
										<li><a href="">파일명파일명파일명.확장자</a></li>
										<li><a href="">파일명파일명파일명.확장자</a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="c-function">
					<div class="c-function__group c-function__group--right">
						<div class="c-function__item"><button class="c-button c-button--point">수정</button></div>
						<div class="c-function__item"><button class="c-button">삭제</button></div>
						<div class="c-function__item"><button class="c-button">목록으로</button></div>
					</div>
				</div>
			</div>
		</article>
	</section>
</div>
</html>