<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/assets/js/summernote/summernote-lite.css" />

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/summernote/summernote-lite.js"></script>
	<script>
		$(function(){
	        $('#summernote').summernote({
	            height: 300,
				minHeight: null,
				maxHeight: null,
				focus: true,
				lang: 'ko-KR'
				// callbacks: {
				// 	onImageUpload: function(files, editor, welEditable) {
				// 		for (var i = files.length - 1; i >= 0; i--) {
				// 			sendFile(files[i], this);
				// 		}
				// 	}
				// }
	        });


			$("#btnSave").on('click',function(){
				save();
			});

			// file area
			$('.c-file__button input').change(function(){
				var txt = [];
				for(var i=0; i<this.files.length; i++){
					txt.push(this.files[i].name);
				}
				$(this).parent().prev('.c-file__input').val( txt.join() );
			}).change();

	    });

		// function sendFile(file, el) {
		// 	var form_data = new FormData();
		// 	form_data.append('file', file);
		// 	var token = $("meta[name='_csrf']").attr("content");
		// 	var header = $("meta[name='_csrf_header']").attr("content");
		// 	$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
		//
		// 	$.ajax({
		// 		data: form_data,
		// 		type: "POST",
		// 		url: '/api/notice/image',
		// 		cache: false,
		// 		contentType: false,
		// 		enctype: 'multipart/form-data',
		// 		processData: false,
		// 		success: function(url) {
		// 			$(el).summernote('editor.insertImage', url);
		//
		// 		}
		// 	});
		// }

		function save(){

			if ($("#subject").val().trim() == '') {
				alert("제목을 입력하세요.");
				$("#subject").trigger('focus');
				return false;
			}

			if ($("#summernote").val().trim() == '') {
				alert("본문내용을 입력하세요.");
				return false;
			}


			//var $form = $('form[name="frmreg"]');
			//var formData = $form.serialize();
			var formData = new FormData(document.getElementById('frmreg')); //new FormData($("#frmreg"));



			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/notice/reg',
				type : 'post',
				//dataType: 'html',
				data : formData,
				processData : false,
				contentType : false,
				enctype: 'multipart/form-data',
				cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					alert('공지사항이 등록 되었습니다.');
					location.href="/";



				}

			});

		}
	</script>

</th:block>



<div layout:fragment="content" class="content">
	<section class="section">
		<article class="article">
			<h2 class="article__heading">공지사항 등록</h2>
			<div class="notice-write">
				<form id ="frmreg" name="frmreg" enctype="multipart/form-data">
					<table class="c-table">
						<colgroup>
							<col style="width: 150px;" />
							<col />
						</colgroup>
						<tbody>

							<tr>
								<th>제목</th>
								<td>
									<th:block th:if="${valueExist}">
										<div class="c-text"><input type="text" class="c-text__input"  id ="subject" name = "subject"
										th:value="${notice.subject}"
										/></div>
									</th:block>
									<th:block th:if="!${valueExist}">
										<div class="c-text"><input type="text" class="c-text__input"  id ="subject" name = "subject"
										/></div>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>파일첨부</th>
								<td>
									<div class="c-file">
<!--										<input type="text" readonly="readonly" class="c-file__input" id="pickture2" name="picture2">-->
<!--										<label class="c-file__button">파일선택<input type="file" name="file1" ></label>-->


										파일선택<input type="file" name="file1" >
										파일선택<input type="file" name="file2" >
										파일선택<input type="file" name="file3" >

									</div>
									<ul class="c-result-list" style="margin-top: 10px;">
										<li>
											<ul class="c-input-list">
												<li>파일명.확장자</li>
												<li>
													<button class="c-button c-button--small">삭제</button>
												</li>
											</ul>
										</li>
										<li>
											<ul class="c-input-list">
												<li>파일명.확장자</li>
												<li>
													<button class="c-button c-button--small">삭제</button>
												</li>
											</ul>
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div id="summernote2">
										<th:block th:if="${valueExist}">
											<textarea class="form-control" id="summernote" name="content" placeholder="content" maxlength="140" rows="7"
												th:field="${notice.content}">
											</textarea>
										</th:block>
										<th:block th:if="!${valueExist}">
											<textarea class="form-control" id="summernote" name="content" placeholder="content" maxlength="140" rows="7">
											</textarea>
										</th:block>

									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</form>
				<div class="c-function">
					<div class="c-function__group c-function__group--right">
						<div class="c-function__item"><button class="c-button c-button--point" id="btnSave">작성완료</button></div>
						<div class="c-function__item"><button class="c-button">취소</button></div>
					</div>
				</div>

			</div>
			
		</article>
	</section>
    
</div>
</html>