<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/assets/js/summernote/summernote-lite.css" />

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/summernote/summernote-lite.js"></script>
	<script>
		$(function(){
	        $('#summernote').summernote({
	            height: 300
	        });
			$("#btnSave").on('click',function(){
				save();
			});

	    });
		function save(){
			alert("save");
		}
	</script>

</th:block>



<div layout:fragment="content" class="content">
	<section class="section">
		<article class="article">
			<h2 class="article__heading">공지사항 등록</h2>
			<div class="notice-write">
				<table class="c-table">
					<colgroup>
						<col style="width: 150px;" />
						<col />
					</colgroup>
					<tbody>
						<tr>
							<th>제목</th>
							<td>
								<div class="c-text"><input type="text" class="c-text__input" /></div>
							</td>
						</tr>
						<tr>
							<th>파일첨부</th>
							<td>
								<div class="c-file">
									<input type="text" readonly="readonly" class="c-file__input" id="pickture2" name="picture2">
									<label class="c-file__button">파일선택<input type="file" name="picture1" id="picture1"></label>
								</div>
								<ul class="c-result-list" style="margin-top: 10px;">
									<li>
										<ul class="c-input-list">
											<li>파일명.확장자</li>
											<li>
												<button class="c-button c-button--small">삭제</button>
											</li>
										</ul>
									</li>
									<li>
										<ul class="c-input-list">
											<li>파일명.확장자</li>
											<li>
												<button class="c-button c-button--small">삭제</button>
											</li>
										</ul>
									</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div id="summernote2">
									<textarea class="form-control" id="summernote" name="content" placeholder="content" maxlength="140" rows="7"></textarea>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="c-function">
					<div class="c-function__group c-function__group--right">
						<div class="c-function__item"><button class="c-button c-button--point" id="btnSave">작성완료</button></div>
						<div class="c-function__item"><button class="c-button">취소</button></div>
					</div>
				</div>
			</div>
			
		</article>
	</section>
    
</div>
</html>