<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/assets/js/summernote/summernote-lite.css" />
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script>
		function linkList() {
			location.href="/notice/noticelist";
		}

		function linkReg(noticeid) {
			location.href="/admin/noticereg/" + noticeid;
		}
	</script>
	

</th:block>



<div layout:fragment="content" class="content">
	<section class="section">
		<article class="article">
			<h2 class="article__heading">공지사항</h2>
			<div class="notice-view">
				<div class="notice-view__contents">
					<table class="c-table">
						<!-- <colgroup>
							<col style="width: 150px;" />
							<col />
							<col style="width: 150px;" />
							<col />
							<col style="width: 150px;" />
							<col />
						</colgroup> -->
						<tbody>
							<tr>
								<td colspan="6" class="align--center" th:text="${notice?.subject}"></td>
							</tr>
							<tr class="c-retable__tr--tablet-visible">
								<td colspan="6">
									<ul class="c-retable__tablet-list non-border">
										<li><img src="/assets/images/icon__user.png" alt="작성자"><span th:text="${notice?.modify_name}"></span></li>
										<li class="c-retable__list--mobile"><img src="/assets/images/icon__calendar--gray.png" alt="게시일"><span th:text="${notice?.modifyDateTime}"></span></li>
										<li class="c-retable__list--mobile"><img src="/assets/images/icon__show.png" alt="조회수"><span th:text="${notice?.hitCount}"></span></li>
									</ul>
								</td>
							</tr>
							<tr class="c-ratable__tr--tablet-hidden">
								<th>작성자</th>
								<td th:text="${notice?.modify_name}"></td>
								<th>게시일</th>
								<td th:text="${notice?.modifyDateTime}"></td>
								<th>조회수</th>
								<td th:text="${notice?.hitCount}"></td>
							</tr>
							<tr>
								<td colspan="6">
									<div class="note-frame" th:utext="${notice?.content}">

									</div>
								</td>
							</tr>
							<tr class="c-retable__tr--tablet-visible">
								<td colspan="6">
									<ul class="c-file-list">
										<li th:each ="uploadfile : ${uploadFiles}"><img src="/assets/images/icon__file.png" alt="첨부파일" class="c-file-list__img" />
											<a th:href="@{/notice/download/{id}(id=${uploadfile.id})}"  th:text="${uploadfile.fileName}"></a></li>

									</ul>
								</td>
							</tr>
							<tr class="c-ratable__tr--tablet-hidden">
								<th>첨부파일</th>
								<td colspan="5">
									<ul class="c-file-list">
										<li th:each ="uploadfile : ${uploadFiles}"
												><a th:href="@{/notice/download/{id}(id=${uploadfile.id})}"  th:text="${uploadfile.fileName}"></a></li>

									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="c-function">
					<div class="c-function__group c-function__group--right">
						<div class="c-function__item"><button class="c-button c-button--point" sec:authorize = "hasRole('ROLE_ADMIN')" th:onclick="|javascript:linkReg('${notice.id}')|">수정</button></div>
						<div class="c-function__item"><button class="c-button" onclick="linkList();">목록으로</button></div>
					</div>
				</div>
			</div>
		</article>
	</section>
</div>
</html>