<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org">

<head th:fragment="configFragment">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>공지사항</title>

	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

	<!-- 공통으로 쓰이는 css파일을넣는다.-->
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/component.css" />
	<link rel="stylesheet" href="/assets/css/common.css" />

	<!-- 공통으로 쓰이는 js파일을넣는다.-->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery-ui.min.js"></script>
	<script src="/assets/js/broadwave.common.js"></script>
	<script src="/assets/js/common-pc.js"></script>
	
	<style>
		.section {
			max-width: none;
			padding: 20px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.note-frame {
			padding: 20px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.note-frame img {
			width: 100% !important;
		}
	</style>
</head>


<div>
	<section class="section">
		<article class="article">
			<h2 class="article__heading">공지사항</h2>
			<div class="notice-view">
				<div class="notice-view__contents">
					<table class="c-table">
						<tbody>
							<tr>
								<td colspan="6" class="align--center" th:text="${notice?.subject}"></td>
							</tr>
							<tr>
								<td colspan="6">
									<div class="note-frame" th:utext="${notice?.content}">

									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</article>
	</section>
</div>
</html>