<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script>
		$(function() {

		})

		function linkList() {
			location.href="/record/list";
		}

		function linkReg(id) {
			location.href="/record/reg/" + id;
		}
	</script>

</th:block>



<div layout:fragment="content" class="content">
	<section class="report">
		<h2 class="report__heading">재난·재해 발생현장 조사 및 분석결과보고서</h2>
		
		<table class="c-input-table">
			<colgroup>
				<col style="width: 100px;" />
				<col style="width: 400px;" />
				<col style="width: 100px;" />
				<col />
			</colgroup>
			<tbody>
				<tr>
					<th>출동일지 번호</th>
					<td>
						<div class="c-text c-text--duo">
						<input type="text" class="c-text__input only-child" readonly="readonly" th:value="${record} ? ${record.arNumber} : ''"/>
					</div>
					</td>
					<th>출동일지 제목</th>
					<td th:text="${record} ? ${record.arTitle} : ''"></td>
				</tr>
				<tr>
					<th>작성자</th>
					<td th:text="${record} ? ${record.arWriter} : ''"></td>
					<th>재해·재난 분과</th>
					<td th:text="${record} ? ${record.arDisasterItem} : ''"></td>
				</tr>
				<tr>
					<th>관련부처</th>
					<td colspan="3" th:text="${record} ? ${record.arRelatedId} : ''"></td>
				</tr>
				<tr>

					<th>조사일시</th>
					<td>
						<span th:text="${record} ? ${record.arIntoStart} : ''"></span> ~
						<span th:text="${record} ? ${record.arIntoEnd} : ''"></span>
					</td>

					<th>조사위치</th>
					<td class="c-input-table__non-padding">
						<table class="c-input-table c-input-table--inner">
							<colgroup>
								<col style="width: 100px;" />
								<col />
							</colgroup>
							<tbody>
								<tr>
									<th>행정구역</th>
									<td>
										<span th:text="${record} ? ${record.arLocationCityType} : ''"></span>
										<span th:text="${record} ? ${record.arLocationAddressType} : ''"></span>
									</td>
								</tr>
								<tr>
									<th>상세위치</th>
									<td th:text="${record} ? ${record.arLocationDetail} : ''"></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<th>조사시설물</th>
					<td colspan=3>
						<span th:text="${record} ? ${record.arFacItem} : ''"></span>
						<span th:text="${record} ? ${record.argita} : ''"></span>
					</td>
				</tr>
				<tr>
					<th>조사목적</th>
					<td colspan=3 th:text="${record} ? ${record.arPurpose} : ''"></td>
				</tr>
				<tr>
					<th>KICT 조사담당자</th>
					<td colspan=3>황석환/국토보전연구본부 돌발홍수연구센터</td>
				</tr>
				<tr>
					<th>공동 참여기관</th>
					<td colspan=3 th:text="${record} ? ${record.arEngine} : ''"></td>
				</tr>
				<tr>
					<th>관련문서</th>
					<td colspan=3 th:text="${record} ? ${record.arPapers} : ''"></td>
				</tr>
				<tr>
					<th>현장개요</th>
					<td colspan=3>
						<pre colspan=3 th:text="${record} ? ${record.arOutline} : ''">
						</pre>						
					</td>
				</tr>
				<tr>
					<th>조사·분석 결과</th>
					<td colspan=3>
						<pre colspan=3 th:text="${record} ? ${record.arResult} : ''">
						</pre>
				</td>
				</tr>
				<tr>
					<th>검토의견(대응방안)</th>
					<td colspan=3>
						<pre colspan=3 th:text="${record} ? ${record.arOpinion} : ''">
						</pre>
					</td>
				</tr>
				<tr>
					<th>관련사진</th>
					<td colspan=3>
						<a th:href="${record} ? ${record.arPhoto} : ''"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="c-function">
			<div class="c-function__group c-function__group--right">
				<div class="c-function__item"><button class="c-button c-button--point" sec:authorize = "hasRole('ROLE_ADMIN')" th:onclick="|javascript:linkReg('${record.id}')|">수정</button></div>
				<div class="c-function__item"><button class="c-button" onclick="linkList();">목록</button></div>
			</div>
		</div>
	</section>
</div>
</html>
