<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script>
		$(function() {
			//저장
			$("#btnSave").on('click', function () {
				save();
			});
			//임시저장
			$("#btnTemSave").on('click', function () {
				temsave();
			});
			//삭제
			$("#btnDel").on('click', function () {
				del();
			});

			$('.c-file__button input').change(function(){
				var txt = [];
				for(var i=0; i<this.files.length; i++){
					txt.push(this.files[i].name);
				}
				$(this).parent().prev('.c-file__input').val(txt.join("_"));
			}).change();

			// 파일 항목 추가
			$('.c-file__control.add').on('click', function(e) {
				var last = $(this).parents('.c-file-list').children('li').last();
				var clName = last.attr('class');
				console.log(clName);
				var num = Number(clName.replace(/[^0-9]/g,''));
				var idx = num + 1;
				console.log(idx);
				var filearea =
					'<li class="c-file-list__item' + idx + '">' +
					'<div class="c-file">' +
					'<input type="text" readonly="readonly" class="c-file__input" id="file' + idx + '" name="file' + idx + '" />' +
					'<label class="c-file__button">파일선택<input type="file" name="file' + idx + '" /></label>' +
					'<a href="#" class="c-file__control remove">삭제</a>' +
					'</div>' +
					'</li>';
				$(this).parents('.c-file-list').append(filearea);

				$('.c-file__button input').change(function(){
					var txt = [];
					for(var i=0; i<this.files.length; i++){
						txt.push(this.files[i].name);
					}
					$(this).parent().prev('.c-file__input').val(txt.join(""));
				}).change();
				e.preventDefault();
			});
			// 파일 항목 삭제
			$(document).on('click', '.c-file__control.remove', function(e) {
				var idx = $(this).parents('li');
				idx.remove();

				e.preventDefault();
			});
			
			// 조사담당자 항목 추가
			$('#responsibilBtn').on('click', function(e) {
				var last = $(this).parents('.c-file-list').children('li').last();
				var clName = last.attr('class');
				console.log(clName);
				var filearea =
					'<li class="c-file-list__item">' +
					'<ul class="c-input-list">' +
					'<li>' +
					'<div class="c-text">' +
					'<input type="text" class="c-text__input" name="arEmployeeNumber" placeholder="사번" />' +
					'</div>' +
					'</li>' +
					'<li>' +
					'<div class="c-text">' +
					'<input type="text" class="c-text__input" name="arEmployeeName" placeholder="이름" />' +
					'</div>' +
					'</li>' +
					'<li>' +
						'<div class="c-select">' +
							'<select class="c-select__input" name="arDepartmentId"/>'+
								'<option th:each=team:${teams} th:value=${team.teamcode} th:text=${team.teamname}></option>'+
							'</select>'+
						'</div>' +
					'</li>' +
					'<li>' +
					'<input type="button" class="c-button remove" name="arDepartmentId" value="삭제" />' +
					'</li>' +
					'</ul>' +
					'</li>';
				$(this).parents('.c-file-list').append(filearea);
				e.preventDefault();
			});
			// 조사담당자 항목 삭제
			$(document).on('click', '.c-button.remove', function(e) {
				var idx = $(this).parents('.c-file-list__item');
				idx.remove();

				e.preventDefault();
			});

			//재해.재난.분과 체크박스 값넣기
			$(".c-checkbox__input").change(function(){
				var listsArr = new Array(0, 0, 0, 0, 0, 0, 0);
				if($("input[name=branch]").is(":checked") == true) {
					var arDisasterArr = new Array();
					var arDisasterArrFilename = new Array();
					if ($("#branch01").is(":checked") == true) {
						listsArr[0] = 1;
						arDisasterArr[0] = $("#branch01").attr('value');
						arDisasterArrFilename[0] = $("#branch01").attr('value');
					} else {
						listsArr[0] = 0;
					}
					if ($("#branch02" ).is(":checked") == true) {
						listsArr[1] = 1;
						arDisasterArr[1] = $("#branch02").attr('value');
						arDisasterArrFilename[1] = $("#branch02").attr('value');
					} else {
						listsArr[1] = 0;

					}
					if ($("#branch03").is(":checked") == true) {
						listsArr[2] = 1;
						arDisasterArr[2] = $("#branch03").attr('value');
						arDisasterArrFilename[2] = $("#branch03").attr('value');
					} else {
						listsArr[2] = 0;

					}
					if ($("#branch04").is(":checked") == true) {
						listsArr[3] = 1;
						arDisasterArr[3] = $("#branch04").attr('value');
						arDisasterArrFilename[3] = $("#branch04").attr('value');
					} else {
						listsArr[3] = 0;
					}
					if ($("#branch05").is(":checked") == true) {
						listsArr[4] = 1;
						arDisasterArr[4] = $("#branch05").attr('value');
						arDisasterArrFilename[4] = $("#branch05").attr('value');
					} else {
						listsArr[4] = 0;
					}
					if ($("#branch06").is(":checked") == true) {
						listsArr[5] = 1;
						arDisasterArr[5] = $("#branch06").attr('value');
						arDisasterArrFilename[5] = $("#branch06").attr('value');
					} else {
						listsArr[5] = 0;
					}
					if ($("#branch07").is(":checked") == true) {
						listsArr[6] = 1;
						arDisasterArr[6] = $("#branch07").attr('value');
						arDisasterArrFilename[6] = $("#branch07").attr('value');
					} else {
						listsArr[6] = 0;
					}
					arDisasterType.value = listsArr.join(",");
					arDisasterItem.value = arDisasterArr.join(" ");
					arDisasterItemFilename.value= arDisasterArrFilename.join("");
				};
			});

			//조사시설물 체크박스 값넣기
			$(".c-checkbox__input").change(function(){
				var facArr = new Array(0, 0, 0, 0, 0, 0, 0);
				if($("input[name=scan]").is(":checked") == true) {
					var arFacItemArr = new Array();
					if ($("#scan01").is(":checked") == true) {
						facArr[0] = 1;
						arFacItemArr[0] = $("#scan01").attr('value');
					} else {
						facArr[0] = 0;
					}
					if ($("#scan02" ).is(":checked") == true) {
						facArr[1] = 1;
						arFacItemArr[1] = $("#scan02").attr('value');
					} else {
						facArr[1] = 0;
					}
					if ($("#scan03").is(":checked") == true) {
						facArr[2] = 1;
						arFacItemArr[2] = $("#scan03").attr('value');
					} else {
						facArr[2] = 0;
					}
					if ($("#scan04").is(":checked") == true) {
						facArr[3] = 1;
						arFacItemArr[3] = $("#scan04").attr('value');
					} else {
						facArr[3] = 0;
					}
					if ($("#scan05").is(":checked") == true) {
						facArr[4] = 1;
						arFacItemArr[4] = $("#scan05").attr('value');
					} else {
						facArr[4] = 0;
					}
					if ($("#scan06").is(":checked") == true) {
						facArr[5] = 1;
						arFacItemArr[5] = $("#scan06").attr('value');
					} else {
						facArr[5] = 0;
					}
					if ($("#scan07").is(":checked") == true) {
						facArr[6] = 1;
						arFacItemArr[6] = $("#scan07").attr('value');
					} else {
						facArr[6] = 0;
					}
					if ($("#scan08").is(":checked") == true) {
						facArr[7] = 1;
						arFacItemArr[7] = $("#scan08").attr('value');
					} else {
						facArr[7] = 0;
					}
					if ($("#scan09").is(":checked") == true) {
						facArr[8] = 1;
						arFacItemArr[8] = $("#scan09").attr('value');
					} else {
						facArr[8] = 0;
					}
					if ($("#scan10").is(":checked") == true) {
						facArr[9] = 1;
						arFacItemArr[9] = $("#scan10").attr('value');
						$("#argita").attr("readonly",false);
					} else {
						facArr[9] = 0;
						$("#argita").attr("readonly",true);
						$("#argita").val(" ");
					}
					arFac.value = facArr.join(",");
					arFacItem.value = arFacItemArr.join(' ');
				};
			});

			//재해.재난.분과 체크박스 여부확인
			if($("#arDisasterType").val() != "") {
				var value = $('#arDisasterType').val();
				var listsArr = value.split(',');

				var zero = 0;

				if(listsArr[0] != zero){
					$("#branch01").prop('checked', true);
				}else{
					$("#branch01").prop('checked', false);
				}
				if(listsArr[1] != zero){
					$("#branch02").prop('checked', true);
				}else{
					$("#branch02").prop('checked', false);
				}
				if(listsArr[2] != zero){
					$("#branch03").prop('checked', true);
				}else{
					$("#branch03").prop('checked', false);
				}
				if(listsArr[3] != zero){
					$("#branch04").prop('checked', true);
				}else{
					$("#branch04").prop('checked', false);
				}
				if(listsArr[4] != zero){
					$("#branch05").prop('checked', true);
				}else{
					$("#branch05").prop('checked', false);
				}
				if(listsArr[5] != zero){
					$("#branch06").prop('checked', true);
				}else{
					$("#branch06").prop('checked', false);
				}
				if(listsArr[6] != zero){
					$("#branch07").prop('checked', true);
				}else{
					$("#branch07").prop('checked', false);
				}
				//}
			};

			//조사시설물 체크박스 여부확인
			if($("#arFac").val() != "") {
				var value = $('#arFac').val();
				var facArr = value.split(',');

				var zero = 0;

				if(facArr[0] != zero){
					$("#scan01").prop('checked', true);
				}else{
					$("#scan01").prop('checked', false);
				}
				if(facArr[1] != zero){
					$("#scan02").prop('checked', true);
				}else{
					$("#scan02").prop('checked', false);
				}
				if(facArr[2] != zero){
					$("#scan03").prop('checked', true);
				}else{
					$("#scan03").prop('checked', false);
				}
				if(facArr[3] != zero){
					$("#scan04").prop('checked', true);
				}else{
					$("#scan04").prop('checked', false);
				}
				if(facArr[4] != zero){
					$("#scan05").prop('checked', true);
				}else{
					$("#scan05").prop('checked', false);
				}
				if(facArr[5] != zero){
					$("#scan06").prop('checked', true);
				}else{
					$("#scan06").prop('checked', false);
				}
				if(facArr[6] != zero){
					$("#scan07").prop('checked', true);
				}else{
					$("#scan07").prop('checked', false);
				}
				if(facArr[7] != zero){
					$("#scan08").prop('checked', true);
				}else{
					$("#scan08").prop('checked', false);
				}
				if(facArr[8] != zero){
					$("#scan09").prop('checked', true);
				}else{
					$("#scan09").prop('checked', false);
				}
				if(facArr[9] != zero){
					$("#scan10").prop('checked', true);
					$("#argita").attr("readonly",false);
				}else{
					$("#scan10").prop('checked', false);
				}
			};

			// 날짜뷰 DATABASE(YYYYMMDD) -> VIEW(YYYY-MM-DD)
			if($("#arIntoStart").val() != "" && $("#arIntoEnd").val() != "") {
				var start = $('#arIntoStart').val();
				var end = $('#arIntoEnd').val();
				var start2 = [start[0],start[1],start[2],start[3],"-",start[4],start[5],"-",start[6],start[7]];
				var end2 = [end[0],end[1],end[2],end[3],"-",end[4],end[5],"-",end[6],end[7]];
				var startArray = start2.join('');
				var endArray = end2.join('');
				arIntoStart(startArray);
				arIntoEnd(endArray);
			};

			LocationSetting(); //행정구역 onchange실행

		});

		//출동일지 임시저장
		function temsave() {

			// 날짜저장 VIEW(YYYY-MM-DD) -> DATABASE(YYYYMMDD)
			if($("#arIntoStart").val() != "" && $("#arIntoEnd").val() != "") {
				var start = $('#arIntoStart').val();
				var end = $('#arIntoEnd').val();
				var startArray = start.split("");
				var endArray = end.split("");
				for(var i = 0; i<2; i++) {
					startArray.splice(startArray.indexOf("-"), 1);
					endArray.splice(endArray.indexOf("-"), 1);
				}
				var realstart = startArray.join("");
				var realend = endArray.join("");

				arIntoStart(realstart);
				arIntoEnd(realend);
			};

			var formData = new FormData(document.getElementById('frmreg'));

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function (e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});

			$.ajax({
				url: '/api/record/temreg',
				type: 'post',
				data: formData,
				processData: false,
				contentType: false,
				enctype: 'multipart/form-data',
				cache: false,
				error:function(request,status,error){
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}
					alert('임시저장이 되었습니다.');
					location.href = "/record/list";
				}
			});
		}
		//출동일지 저장
		function save() {
			if ($("#arTitle").val().trim() == '') {
				alert("제목을 입력하세요.");
				$("#arTitle").trigger('focus');
				return false;
			}
			if ($("#arWriter").val().trim() == '') {
				alert("작성자를 입력하세요.");
				return false;
			}
			if ($(":checkbox[name='branch']:checked").length == 0) {
				alert("재해.재난.분과 항목을 하나이상 체크해주세요.");
				return;
			}
			if ($(":checkbox[name='scan']:checked").length == 0) {
				alert("조사시시설물 항목을 하나이상 체크해주세요.");
				return;
			}
			// if ($("#arIntoStart").val().trim() == '') {
			// 	alert("시작날짜를 설정해주세요.");
			// 	return;
			// }
			// if ($("#arIntoEnd").val().trim() == '') {
			// 	alert("끝난날짜를 설정해주세요.");
			// 	return;
			// }

			// 날짜저장 VIEW(YYYY-MM-DD) -> DATABASE(YYYYMMDD)
			if($("#arIntoStart").val() != "" && $("#arIntoEnd").val() != "") {
				var start = $('#arIntoStart').val();
				var end = $('#arIntoEnd').val();
				var startArray = start.split("");
				var endArray = end.split("");
				for(var i = 0; i<2; i++) {
					 startArray.splice(startArray.indexOf("-"), 1);
					 endArray.splice(endArray.indexOf("-"), 1);
				}
				var realstart = startArray.join("");
				var realend = endArray.join("");

				arIntoStart(realstart);
				arIntoEnd(realend);
			};


			var formData = new FormData(document.getElementById('frmreg'));

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function (e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});

			$.ajax({
				url: '/api/record/reg',
				type: 'post',
				data: formData,
				processData: false,
				contentType: false,
				enctype: 'multipart/form-data',
				cache: false,
				error:function(request,status,error){
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}
					alert('출동일지가 등록 되었습니다.');
					location.href = "/record/list";
				}
			});
		}

		//삭제버튼 실행
		function del() {
			if ($("#id").val() == '') {
				alert("삭제하고자하는 출동일지를 선택하세요.");
				return false;
			}
			if (!confirm("출동일지를 삭제합니다.")) {
				return false;
			}

			var params = {
				recordid : $("#id").val()
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/record/del',
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					alert('출동일지가 삭제 되었습니다.');
					location.href="/record/list";
				}
			});
		}

		// 행정구역 onchange Post
		function LocationSetting() {
			var params = {
				locationCityType: $("#arLocationCityType").val()
			};

			var $schList = $('#arLocationAddressType');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function (e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/record/location',
				type: 'post',
				data: params,
				cache: false,
				error:function(request,status,error){
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}

					var html = '';
					 $.each(res.data.dataselect, function (key, value) {
						html += '<option value ="' + echoNull2Blank(value.code) + '">' + echoNull2Blank(value.name)+ '</option>';
					});
					$schList.html(html);

					if($("#addSel").val() != ''){
						var addressSelect = $("#addSel").val();
						setarLocationAddressType(addressSelect);
					}

				}
			});
		}
		function setarLocationAddressType(value){
			$("#arLocationAddressType").val(value);
		}
		function arIntoStart(value){
			$("#arIntoStart").val(value);
		}
		function arIntoEnd(value){
			$("#arIntoEnd").val(value);
		}

		//첨부파일삭제
		function fileDelete(th,fileid) {
			var params = {
				fileid:fileid
			};
			console.log("파일 삭제시작");
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/record/filedel',
				type : 'post',
				//dataType: 'html',
				data : params,
				cache:false,
				error:function(request,status,error){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					//파일삭제 성공후 해당 라인 화면에서 제거
					var obj = $(th).parent('li').parent('ul');
					obj.remove();
				}
			});
		}

		//조사담당자 삭제
		function responDelete(th,rsid) {
			var params = {
				rsid:rsid
			};
			console.log("조사담당자 삭제시작");
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
			$.ajax({
				url:'/api/record/respondel',
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					var obj = $(th).parent('p');
					obj.remove();
				}
			});
		}

	</script>

</th:block>
<div layout:fragment="content" class="content">
<section class="report">
	<h2 class="report__heading">재난·재해 발생현장 조사 및 분석결과보고서</h2>
	<form id ="frmreg" name="frmreg" enctype="multipart/form-data">
	<table class="c-input-table">
		<colgroup>
			<col style="width: 100px;" />
			<col style="width: 400px;" />
			<col style="width: 100px;" />
		<col />
		</colgroup>
		<tbody>
			<tr>
				<th>출동일지 번호</th>
				<td>
					<input type="hidden" readonly="readonly" id="id" name="id"
						   th:value="${record} ? ${record.id} : ''" />
					<div class="c-text c-text--duo">
						<input type="text" class="c-text__input only-child" name="arNumber" id="arNumber"
							   th:value="${record} ? ${record.arNumber} : ''" readonly />
					</div>
				</td>
				<th>출동일지 제목</th>
				<td>
					<div class="c-text"><input name="arTitle" id="arTitle" type="text" class="c-text__input"
							th:value="${record} ? ${record.arTitle} : ''" />
					</div>

				</td>
			</tr>
			<tr>
				<th>작성자</th>
				<td>
					<div class="c-text"><input name="arWriter" id="arWriter" type="text" class="c-text__input"
							th:value="${record} ? ${record.arWriter} : ''"/>
					</div>
				</td>
				<th>재해·재난 분과</th>
				<td>
					<ul class="c-input-list">
						<li>
							<div class="c-checkbox">
								<input type="checkbox" class="c-checkbox__input" name="branch" value="붕괴" id="branch01"/>
								<label for="branch01" class="c-checkbox__label">붕괴</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" class="c-checkbox__input" name="branch" value="화재/폭발" id="branch02"/>
								<label for="branch02" class="c-checkbox__label">화재/폭발</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" class="c-checkbox__input" name="branch" value="지진" id="branch03"/>
								<label for="branch03" class="c-checkbox__label">지진</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" class="c-checkbox__input" name="branch" value="싱크홀" id="branch04"/>
								<label for="branch04" class="c-checkbox__label">싱크홀</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" class="c-checkbox__input" name="branch" value="교통사고" id="branch05"/>
								<label for="branch05" class="c-checkbox__label">교통사고</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" class="c-checkbox__input" name="branch" value="홍수/가뭄" id="branch06"/>
								<label for="branch06" class="c-checkbox__label">홍수/가뭄</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" class="c-checkbox__input" name="branch" value="환경오염" id="branch07"/>
								<label for="branch07" class="c-checkbox__label">환경오염</label>
							</div>
						</li>
						<input type="hidden" name="arDisasterType" id="arDisasterType" value=""
							   th:value="${record} ? ${record.arDisasterType} : ''" readonly>
						<input type="hidden" name="arDisasterItem" id="arDisasterItem" value=""
							   th:value="${record} ? ${record.arDisasterItem} : ''" readonly>
						<input type="hidden" name="arDisasterItemFilename" id="arDisasterItemFilename" value=""
							   th:value="${record} ? ${record.arDisasterItemFilename} : ''" readonly>
					</ul>
				</td>
			</tr>
			<tr>
				<th>관련부처</th>
				<td>
					<div for="arRelatedId" class="c-select">
						<select class="c-select__input" name="arRelatedId" id="arRelatedId">
							<option th:each ="arRelatedId : ${arRelatedIds}"
									th:value="${arRelatedId.id}"
									th:text="${arRelatedId.name}"
									th:selected="${arRelatedId.id} == (${record} ? ${record.arRelatedId} : '')"
							></option>
						</select>
					</div>
				</td>
				<th>관련부처 상세정보</th>
				<td>
					<div class="c-text">
						<input id="arRelatedDetail" name="arRelatedDetail" type="text" class="c-text__input"
							   th:value="${record} ? ${record.arRelatedDetail} : ''" />
					</div>
				</td>
			</tr>
			<tr>
				<th>관련문서</th>
				<td colspan="3">
					<div class="c-text">
						<input id="arPapers" name="arPapers" type="text" class="c-text__input" placeholder="공문명을 입력하세요"
							   th:value="${record} ? ${record.arPapers} : ''"/>
					</div>
				</td>
			</tr>
			<tr>
				<th>조사일자</th>
				<td>
					<div class="c-calendar-layout">
						<div class="c-date">
							<div class="c-date__input-box">
								<input type="text" class="c-date__result" id="arIntoStart" name="arIntoStart" th:value="${record} ? ${record.arIntoStart} : ''" readonly/>
								<button type="button" class="c-date__button">
									<img src="/assets/images/icon__calendar.svg" alt="달력" title="달력">
								</button>
							</div>
							<div class="c-date__calendar"></div>
						</div>
						<span>-</span>
						<div class="c-date">
							<div class="c-date__input-box">
								<input type="text" class="c-date__result" id="arIntoEnd" name="arIntoEnd" th:value="${record} ? ${record.arIntoEnd} : ''" readonly/>
								<button type="button" class="c-date__button">
									<img src="/assets/images/icon__calendar.svg" alt="달력" title="달력">
								</button>
							</div>
							<div class="c-date__calendar"></div>
						</div>
						
					</div>
				</td>
				<th>조사위치</th>
				<td class="c-input-table__non-padding">
					<table class="c-input-table c-input-table--inner">
						<colgroup>
							<col style="width: 100px;" />
							<col />
						</colgroup>
						<tbody>
							<tr>
								<th>행정구역</th>
								<td>
									<ul class="c-input-list">
										<li>
											<div class="c-select" style="width: 110px;">
												<select name="arLocationCityType" id="arLocationCityType" class="c-select__input" onchange="LocationSetting()">
													<option th:each ="LocationCityType : ${LocationCityTypes}"
															th:value="${LocationCityType.getCode()}"
															th:text="${LocationCityType.getDesc()}"
															th:selected="${LocationCityType} == (${record} ? ${record.arLocationCityType} : '')">
													</option>
												</select>
											</div>
										</li>
										<li>
											<input id="addSel" type="hidden" class="c-select__input" th:value="${record} ? ${record.arLocationAddressType}: ''"/>
											<div class="c-select" style="width: 100px;">
												<select name="arLocationAddressType" id="arLocationAddressType" class="c-select__input" >
												</select>
											</div>
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<th>상세위치</th>
								<td>
									<div class="c-text"><input name="arLocationDetail" id="arLocationDetail" type="text" class="c-text__input"
															   th:value="${record} ? ${record.arLocationDetail} : ''"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<th>조사시설물</th>
				<td colspan="3">
					<ul class="c-input-list">
						<li>
							<div class="c-checkbox">
								<input type="checkbox" name="scan" class="c-checkbox__input" id="scan01" value="교량"/>
								<label for="scan01" class="c-checkbox__label">교량</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" name="scan" class="c-checkbox__input" id="scan02" value="옹벽"/>
								<label for="scan02" class="c-checkbox__label">옹벽</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" name="scan" class="c-checkbox__input" id="scan03" value="비탈면"/>
								<label for="scan03" class="c-checkbox__label">비탈면</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" name="scan" class="c-checkbox__input" id="scan04" value="터널"/>
								<label for="scan04" class="c-checkbox__label">터널</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" name="scan" class="c-checkbox__input" id="scan05" value="도로"/>
								<label for="scan05" class="c-checkbox__label">도로</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" name="scan" class="c-checkbox__input" id="scan06" value="기타도로시설물"/>
								<label for="scan06" class="c-checkbox__label">기타도로시설물</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" name="scan" class="c-checkbox__input" id="scan07" value="건축물"/>
								<label for="scan07" class="c-checkbox__label">건축물</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" name="scan" class="c-checkbox__input" id="scan08" value="지만"/>
								<label for="scan08" class="c-checkbox__label">지반</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox">
								<input type="checkbox" name="scan" class="c-checkbox__input" id="scan09" value="지하시설물"/>
								<label for="scan09" class="c-checkbox__label">지하시설물</label>
							</div>
						</li>
						<li>
							<div class="c-checkbox c-checkbox--input">
								<input type="checkbox" name="scan" class="c-checkbox__input" id="scan10" value="기타" />
								<label for="scan10" class="c-checkbox__label">기타</label>
								<div class="c-text c-text--small">
									<input id="argita" name="argita" type="text" class="c-text__input"
										   th:value="${record} ? ${record.argita} : ''" readonly/>
								</div>
							</div>
						</li>
						<input type="hidden" name="arFac" id="arFac" value=""
							   th:value="${record} ? ${record.arFac} : ''" />
						<input type="hidden" name="arFacItem" id="arFacItem" value=""
							   th:value="${record} ? ${record.arFacItem} : ''" />
					</ul>
				</td>
			</tr>
			<tr>
				<th>조사목적</th>
				<td colspan="3">
					<textarea name="arPurpose" id="arPurpose" class="c-textarea"
							  th:text="${record} ? ${record.arPurpose} : ''"></textarea>
				</td>
			</tr>
			<tr>
				<th>조사담당자</th>
				<td colspan="3">
					<ul class="c-file-list">
						<li>
							<ul class="c-input-list">
								<li>
									<div class="c-text">
										<input type="text" name="arEmployeeNumber" class="c-text__input" placeholder="사번" />
									</div>
								</li>
								<li>
									<div class="c-text">
										<input type="text" name="arEmployeeName" class="c-text__input" placeholder="이름" />
									</div>
								</li>
								<li>
									<div class="c-select">
										<select name="teamcode" class="c-select__input">
											<option th:each ="team : ${teams}"
													th:value="${team.teamcode}"
													th:text="${team.teamname}"></option>
										</select>
									</div>
								</li>
								<li>
									<input type="button" class="c-button" id="responsibilBtn" value="추가"/>
								</li>
							</ul>
							<ul class="c-input-list">
								<li>
									<div class="c-text">
										<input type="text" name="arEmployeeNumber" class="c-text__input" placeholder="사번" />
									</div>
								</li>
								<li>
									<div class="c-text">
										<input type="text" name="arEmployeeName" class="c-text__input" placeholder="이름" />
									</div>
								</li>
								<li>
									<div class="c-select">
										<select name="teamcode" class="c-select__input">
											<option th:each ="team : ${teams}"
													th:value="${team.teamcode}"
													th:text="${team.teamname}"></option>
										</select>
									</div>
								</li>
								<li>
									<input type="button" class="c-button" value="삭제"/>
								</li>
							</ul>
							<ul class="c-input-list">
								<li>
									<div class="c-text">
										<input type="text" name="arEmployeeNumber" class="c-text__input" placeholder="사번" />
									</div>
								</li>
								<li>
									<div class="c-text">
										<input type="text" name="arEmployeeName" class="c-text__input" placeholder="이름" />
									</div>
								</li>
								<li>
									<div class="c-select">
										<select name="teamcode" class="c-select__input">
											<option th:each ="team : ${teams}"
													th:value="${team.teamcode}"
													th:text="${team.teamname}"></option>
										</select>
									</div>
								</li>
								<li>
									<input type="button" class="c-button" value="삭제"/>
								</li>
							</ul>
						</li>
					</ul>
					

					<ul class="c-result-list" style="margin-top: 10px;">
						<li th:each ="responsibil : ${responsibils}">
							<p class="c-input-list">
								<span th:text="${responsibil.arEmployeeNumber}"></span>
								<span th:text="${responsibil.arEmployeeName}"></span>
<!--								<span th:value="${teams.team}"></span>-->
								<button type="button" class="c-button c-button--small" th:onclick="|javascript:responDelete(this,'${responsibil.getId()}')|">삭제</button>
							</p>
						</li>
					</ul>

				</td>
			</tr>
			<tr>
				<th>공동 참여기관</th>
				<td colspan="3">
					<textarea name="arEngine" id="arEngine" class="c-textarea"
							  th:text="${record} ? ${record.arEngine} : ''"></textarea>
				</td>
			</tr>
			<tr>
				<th>현장개요</th>
				<td colspan="3">
					<textarea name="arOutline" id="arOutline" class="c-textarea"
							  th:text="${record} ? ${record.arOutline} : ''"></textarea>
				</td>
			</tr>
			<tr>
				<th>조사·분석 결과</th>
				<td colspan="3">
					<textarea name="arResult" id="arResult" class="c-textarea"
							  th:text="${record} ? ${record.arResult} : ''"></textarea>
				</td>
			</tr>
			<tr>
				<th>검토의견 (대응방안)</th>
				<td colspan="3">
					<textarea name="arOpinion" id="arOpinion" class="c-textarea"
							  th:text="${record} ? ${record.arOpinion} : ''"></textarea>
				</td>
			</tr>
			<tr>
				<th>관련사진</th>
				<td colspan="3">
					<ul class="c-file-list">
						<li class="c-file-list__item0">
							<div class="c-file">
								<input type="text" readonly="readonly" class="c-file__input" id="file0" name="file0">
								<label class="c-file__button">파일선택<input type="file" name="file0" /></label>
								<a href="#" class="c-file__control add">추가</a>
							</div>
						</li>
					</ul>

					<ul class="c-result-list" style="margin-top: 10px;" id ="">
						<li th:each ="recorduploadFile : ${recorduploadFiles}">
							<ul class="c-input-list">
								<li >
									<a th:href="@{/record/download/{id}(id=${recorduploadFile.getId()})}"
									   th:text="${recorduploadFile.getAfFileName()}"></a>
								</li>
								<li>
									<button type="button" class="c-button c-button--small" th:onclick="|javascript:fileDelete(this,'${recorduploadFile.getId()}')|">삭제</button>
								</li>
							</ul>
						</li>
					</ul>

				</td>
			</tr>
		</tbody>
	</table>
	</form>
		<div class="c-function">
			<div class="c-function__group c-function__group--right">
				<div class="c-function__item"><button id="btnSave" class="c-button c-button--point">제출완료</button></div>
				<div class="c-function__item"><button id="btnTemSave" class="c-button c-button--point">임시저장</button></div>
				<div class="c-function__item"><button id="btnDel" class="c-button c-button--point">삭제</button></div>
			</div>
		</div>
</section>

</div>
</html>