<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script>
		$(function() {
			// file name
			$('.c-file__button input').change(function(){
				var txt = [];
				for(var i=0; i<this.files.length; i++){
					txt.push(this.files[i].name);
				}
				$(this).parent().prev('.c-file__input').val( txt.join() );
			}).change();

			$("#btnSearch").on('click',function(){
				callList(1);
			});

			$("#batchPrint").on('click',function(){
				batchPrint();
			});

			callList(1);

		}); //실행 자바쿼리 끝

		function datecheck(str) {
			var y = str.substr(0, 4);
			var m = str.substr(5, 2);
			var d = str.substr(8, 2);
			var date = new Date(y,m-1,d);
			var today = new Date()
			var diff = Math.abs(today.getTime() - date.getTime());
			diff = Math.ceil(diff / (1000 * 3600 * 24));
			//return  diff;
			//2일이전이면 새글
			if (Number(diff) < 2){
				return 'new';
			}else{
				return 'old';
			}
		}

		//리스트뽑기 및 페이징
		function callList(page){
			page = page - 1;
			if (page < 0) page = 0

			var perPage = 10;
			var perArea = 5;
			var totCnt = 0;
			var $schList = $('#schList');
			var $totalCnt = $('#totalCnt');

			var params = {
				arNumber:$("#s_arNumber").val(),
				arTitle:$("#s_arTitle").val(),
				arWriter:$("#s_arWriter").val()
			};

			$schList.empty().append('<tr ><td colspan="7" align = "center">조회 중</td></tr>');
			$totalCnt.text('0');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/record/list?size='+ perPage + '&page=' + page,
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					ajaxErrorMsg(request);
				},
				success: function(res){
					//화면 출력
					totCnt = res.data.total_rows;
					$("#paging1").jqueryPager({pageSize: perPage,
						pageBlock: perArea,
						currentPage: page + 1,
						pageTotal: totCnt,
						clickEvent: 'callList'});

					if (totCnt == 0) {
						$schList.empty().append('<tr class="t-c"><td colspan="7" align="center">조회된 데이터가 없습니다.</td></tr>');
						return;
					}

					$totalCnt.text(totCnt);

					var html = '';
                    $.each(res.data.datalist, function(key, value){
                        if($("#role").val() === "ROLE_USER" || $("#role").val() === "ROLE_ADMIN" ) {
                            if ($("#userId").val() === value.insert_id || $("#role").val() === "ROLE_ADMIN"){
                                if(value.arRecordState === 0){
									html += '<tr >';
									html += '<td >'+ '<input name="checkemNumber" type="checkbox" value='+echoNull2Blank(value.id)+' />' +'</td>';
                                    html += '<td class="c-retable--tablet-hidden">'+ echoNull2Blank(value.arNumber) +'</td>';

                                    html += '<td class="c-retable__title">';
                                    if (mobileCheck()) {
                                        html += '<a href="/record/mview/' + echoNull2Blank(value.id) + '" class="c-retable__subject">' + echoNull2Blank(value.arTitle) + "(임시저장)" + '</a>';
                                    } else {
                                        html += '<a href="/record/view/' + echoNull2Blank(value.id) + '" class="c-retable__subject">' + echoNull2Blank(value.arTitle) + "(임시저장)" + '</a>';
                                    }
                                    if (datecheck(value.modifyDateTime.substring(0, 10)) === 'new') {
                                        html += '<img src="/assets/images/icon__new.png" alt="새글알림" />';
                                    }
                                    html += '<div class="c-retable--tablet-visible">';
                                    html += '<ul class="c-retable__tablet-list">';
                                    html += '<li class="c-retable__list--mobile"><img src="/assets/images/icon__branch.png" alt="재해·재난 분과" />' + echoNull2Blank(value.arFacItem) + '</li>'
                                    html += '<li class="c-retable__list--mobile"><img src="/assets/images/icon__calendar--gray.png" alt="조사일자" />' + echoNull2Blank(value.arIntoStart) + ' ~ ' + echoNull2Blank(value.arIntoEnd) + '</li>'
                                    html += '<li class="c-retable__list--mobile"><img src="/assets/images/icon__map.png" alt="조사위치" />' + echoNull2Blank(value.arLocationCityType) + ' ' + echoNull2Blank(value.arLocationAddressType) + '</li>'
                                    html += '<li class="c-retable__list--mobile"><img src="/assets/images/icon__building.png" alt="조사시설물" />' + echoNull2Blank(value.arDisasterItem) + '</li>'
                                    html += '<li><img src="/assets/images/icon__user.png" alt="작성자" />' + echoNull2Blank(value.arWriter) + '</li>';
                                    html += '</ul>'
                                    html += '</div>';
                                    html += '</td>';
                                    html += '<td class="c-retable--tablet-hidden c-retable__white-space">' + echoNull2Blank(value.arFacItem) + '</td>';
                                    html += '<td class="c-retable--tablet-hidden">' + echoNull2Blank(value.arIntoStart) + ' ~ ' + echoNull2Blank(value.arIntoEnd) + '</td>';
                                    html += '<td class="c-retable--tablet-hidden">' + echoNull2Blank(value.arLocationCityType) + ' ' + echoNull2Blank(value.arLocationAddressType) + '</td>';
                                    html += '<td class="c-retable--tablet-hidden c-retable__white-space">' + echoNull2Blank(value.arDisasterItem) + '</td>';
                                    html += '<td class="c-retable--tablet-hidden">' + echoNull2Blank(value.arWriter) + '</td>';
                                    html += '</tr>';
                                }
                            }
                        }
                        if(value.arRecordState === 1) {
							html += '<tr >';
							html += '<td >'+ '<input name="checkemNumber" type="checkbox" value='+echoNull2Blank(value.id)+' />' +'</td>';

                            html += '<td class="c-retable--tablet-hidden">' + echoNull2Blank(value.arNumber) + '</td>';
                            html += '<td class="c-retable__title">';
                            if (mobileCheck()) {
                                html += '<a href="/record/mview/' + echoNull2Blank(value.id) + '" class="c-retable__subject">'  + echoNull2Blank(value.arTitle) + '</a>';
                            } else {
                                html += '<a href="/record/view/' + echoNull2Blank(value.id) + '" class="c-retable__subject">' + echoNull2Blank(value.arTitle) + '</a>';
                            }
                            if (datecheck(value.modifyDateTime.substring(0, 10)) === 'new') {
                                html += '<img src="/assets/images/icon__new.png" alt="새글알림" />';
                            }
                            html += '<div class="c-retable--tablet-visible">';
                            html += '<ul class="c-retable__tablet-list">';
                            html += '<li class="c-retable__list--mobile"><img src="/assets/images/icon__branch.png" alt="재해·재난 분과" />' + echoNull2Blank(value.arFacItem) + '</li>'
                            html += '<li class="c-retable__list--mobile"><img src="/assets/images/icon__calendar--gray.png" alt="조사일자" />' + echoNull2Blank(value.arIntoStart) + ' ~ ' + echoNull2Blank(value.arIntoEnd) + '</li>'
                            html += '<li class="c-retable__list--mobile"><img src="/assets/images/icon__map.png" alt="조사위치" />' + echoNull2Blank(value.arLocationCityType) + ' ' + echoNull2Blank(value.arLocationAddressType) + '</li>'
                            html += '<li class="c-retable__list--mobile"><img src="/assets/images/icon__building.png" alt="조사시설물" />' + echoNull2Blank(value.arDisasterItem) + '</li>'
                            html += '<li><img src="/assets/images/icon__user.png" alt="작성자" />' + echoNull2Blank(value.arWriter) + '</li>';
                            html += '</ul>'
                            html += '</div>';
                            html += '</td>';
                            html += '<td class="c-retable--tablet-hidden c-retable__white-space">' + echoNull2Blank(value.arFacItem) + '</td>';
                            html += '<td class="c-retable--tablet-hidden">' + echoNull2Blank(value.arIntoStart) + ' ~ ' + echoNull2Blank(value.arIntoEnd) + '</td>';
                            html += '<td class="c-retable--tablet-hidden">' + echoNull2Blank(value.arLocationCityType) + ' ' + echoNull2Blank(value.arLocationAddressType) + '</td>';
                            html += '<td class="c-retable--tablet-hidden c-retable__white-space">' + echoNull2Blank(value.arDisasterItem) + '</td>';
                            html += '<td class="c-retable--tablet-hidden">' + echoNull2Blank(value.arWriter) + '</td>';
                            html += '</tr>';
                        }
                    });
                    $schList.html(html);
                }
            });
        }

		// 체크박스 일괄선택함수
		function checkAll(){
			if( $("#th_checkAll").is(':checked') ){
				$("input[name=checkemNumber]").prop("checked", true);
			}else{
				$("input[name=checkemNumber]").prop("checked", false);
			}
		}

		// 일괄선택 출력
		function batchPrint() {

			var ids = [];
			$('input[name="checkemNumber"]:checked').each(function() {
				ids.push($(this).val());
			});

			if(ids[0]===undefined){
				alertCaution("선택된 보고서가 없습니다.")
			}
			var newWindow;
			var setting = "width=1050,height= 680,top=5,left=20,scrollbars=yes";

			if(ids.length===1){
				newWindow = window.open ("/print/oneview/"+ids , "", setting);
				newWindow.focus();
			}else{
				newWindow = window.open ("/print/multiview/"+ids,"",setting);
				newWindow.focus();
			}

		}

	</script>

</th:block>



<div layout:fragment="content" class="content">
	<section class="section">
		<h2 class="section__heading">출동일지조회화면</h2>

		<article class="article">
			<table class="c-retable">
				<tbody>
					<tr>
						<td colspan="2">
							<div class="c-searchtext">
								<label for="s_arNumber" class="c-searchtext__label">번호</label>
								<input type="text" class="c-searchtext__input" id="s_arNumber" name = "s_arNumber" />
							</div>
						</td>
						<td colspan="2">
							<div class="c-searchtext">
								<label for="s_arTitle" class="c-searchtext__label">제목</label>
								<input type="text" class="c-searchtext__input" id="s_arTitle" name = "s_arTitle" />
							</div>
						</td>
						<td colspan="2">
							<div class="c-searchtext">
								<label for="s_arWriter" class="c-searchtext__label">작성자</label>
								<input type="text" class="c-searchtext__input" id="s_arWriter" name = "s_arWriter" />
							</div>
						</td>
						<td class="c-searchtable__button">
							<button class="c-button c-button--point" id="btnSearch">조회</button>
						</td>
					</tr>
				</tbody>
			</table>
		</article>

		<article class="article">
			<table class="c-retable">
				<thead class="c-retable--tablet-hidden">
					<tr>
						<th><input type="checkbox" id="th_checkAll" onclick="checkAll();" /></th>
						<th scope="col">번호</th>
						<th scope="col">보고서 제목</th>
						<th scope="col">재해·재난 분과</th>
						<th scope="col">조사일자</th>
						<th scope="col">조사위치</th>
						<th scope="col">조사시설물</th>
						<th scope="col">작성자</th>
					</tr>
				</thead>
				<tbody id ="schList">

				</tbody>
			</table>

			<input class="c-button c-button--point" style="position: absolute;z-index: 1;bottom: 0px" id="batchPrint" type="button" value="인쇄">
			<div class="c-pager">
				<div class="c-paging" id ="paging1">
					<!-- 페이징 처리되는곳   -->
				</div>
				<div class="c-paging__total">
					<div class="c-paging__total-group">
						Total
					</div>
					<div class="c-paging__total-group" id ="totalCnt">0</div>
				</div>
			</div>
            <input type="hidden" id="role" th:value="${role}" readonly>
            <input type="hidden" id="userId" th:value="${userid} ? ${userid.toString()} : ''" readonly>
		</article>
	</section>
</div>
</html>