<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- 공통으로 쓰이는 css파일을넣는다.-->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/component.css" />
    <link rel="stylesheet" href="/assets/css/common.css" />
    <link rel="stylesheet" href="/assets/js/c3/c3.css" />
    <link rel="stylesheet" href="/assets/js/alert/min_alert.css" />
    <link rel="stylesheet" href="/assets/js/toastr/toastr.min.css">

    <!-- 사용자 CSS 영역이 들어감 -->
    <th:block layout:fragment="css"></th:block>

    <!-- 공통으로 쓰이는 js파일을넣는다.-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/broadwave.common.js"></script>
    <script src="/assets/js/common-pc.js"></script>
    <script src="/assets/js/broadwave.ajax.js"></script>
    <script src="/assets/js/d3/d3.js"></script>
    <script src="/assets/js/c3/c3.js"></script>
    <script src="/assets/js/alert/min_alert.js"></script>
    <script src="/assets/js/toastr/toastr.min.js"></script>
<script>

    // 모바일사진을 촬영후, 업로드하는 함수
    function fileupload(){
        if(window.location.href==="http://192.168.0.136:8080/" || window.location.href==="https://kict119.broadwave.co.kr/") {
            var $camera = $("#camera");

            toastr.options = {
                "positionClass": "toast-bottom-center",
                "timeOut": "3000",
                "progressBar": true,
                "closeButton": true,
            }

            if($camera.val() !== '') {

                var formData = new FormData(document.getElementById('fileupload'));

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $(document).ajaxSend(function (e, xhr) {
                    xhr.setRequestHeader(header, token);
                });

                $.ajax({
                    url: '/api/mobile/upload',
                    type: 'post',
                    data: formData,
                    processData: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    cache: false,
                    error: function (request) {
                        ajaxErrorMsg(request);
                    },
                    success: function (res) {
                        if (!Ajax.checkResult(res)) {
                            return;
                        }
                        toastr.success('갤러리에서 확인해주세요.','사진이 저장되었습니다.');
                        $camera.val('');
                    }
                });
            }else{
                toastr.error('고객센터로 문의해주세요.','데이터를 받아오지 못했습니다.');
                $camera.val('');
            }
        }
    }

    //admin전용 -> 모바일인지 체크 // 2019.10.11 김민규추가
    function mobileAlert(mobileId) {
        if (navigator.userAgent.match(/iPad/) == null &&
            navigator.userAgent.match(/iPhone|Mobile|UP.Browser|Android|BlackBerry|Windows CE|Nokia|webOS|Opera Mini|SonyEricsson|opera mobi|Windows Phone|IEMobile|POLARIS/) != null) {
            alertCaution("PC에서 이용가능합니다.");
            return false;
        }else{
            if(mobileId===1){
                return location.href = "/admin/accountapproval";
            }else if(mobileId===2) {
                return location.href = "/admin/accountreg";
            }else if(mobileId===3){
                return location.href = "/admin/noticereg";
            }else if(mobileId===4){
                return location.href = "/admin/teamreg";
            }else if(mobileId===5){
                return location.href = "/admin/mastercodereg";
            }else{
                alertCancel("잘못된 접근입니다.");
                false;
            }
        }
    }
</script>
    <!-- 사용자 스크립트 영역이 들어감 -->
    <th:block layout:fragment="script"></th:block>


</head>
</html>

