<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>



<div layout:fragment="content" class="content">
	
	<div class="main">
		<div class="main__text">
			<p>KICT 건설119</p>
			<p>"국민과 인프라의 안전 확보를 위하여 전문가로서 최선을 다하겠습니다."</p>
			<div class="main__img"></div>
		</div>
		<div class="banner">
			<ul class="banner__list">
				<li class="banner__item banner__item--write"><a href="javascript:void(0);" onclick="mobileCheckIndex();" class="banner__link">출동일지작성</a></li>
				<li class="banner__item banner__item--write-list"><a href="/record/list" class="banner__link">출동일지조회</a></li>
				<li class="banner__item banner__item--line"><a href="about/lineup" class="banner__link">건설 119 출동대원 라인업</a></li>
				<li class="banner__item banner__item--guide"><a href="" class="banner__link">건설 119 주요 활동 가이드라인</a></li>
				<li class="banner__item banner__item--notice"><a href="/notice/noticelist" class="banner__link">공지사항</a></li>
				<li class="banner__item banner__item--table"><a href="#" class="banner__link">도표영역</a></li>
			</ul>
		</div>
	</div>
</div>
</html>
