<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">


</th:block>



<div layout:fragment="content" class="content">
	
	<div class="main">
		<h1>건설119 데스크 메인화면</h1>
		<!-- div class="login-box">
			<div class="login-box__inner" sec:authorize="!isAuthenticated()">
				<form th:action="@{/login}" method="post">
					<div class="login-box__input-box">
						<label for="" class="login-box__label">ID</label>
						<input type="text" class="login-box__input" name="username" required />
					</div>				
					<div class="login-box__input-box">
						<label for="" class="login-box__label">P/w</label>
						<input type="password" class="login-box__input" name="password" required />
					</div>
					<div class="c-checkbox">
						<input type="checkbox" id="remember" class="c-checkbox__input" />
					</div>
					<div><input type="submit" class="login-box__button" value="로그인"/></div>

				</form>
			</div>
			<div class="login-box__inner" sec:authorize="isAuthenticated()">
				<a href="/mypage" class="login-box__text"><div sec:authentication="name"></div></a>
				<form th:action="@{/logout}" method="post">
					<input type="submit" class="login-box__button" value="로그아웃"/>
				</form>
			</div>
		</div-->
		<div class="banner">
			<ul class="banner__list">
				<li class="banner__item"><a href="/record/reg" class="banner__link">출동일지작성</a></li>
				<li class="banner__item"><a href="/record/list" class="banner__link">출동일지조회</a></li>
				<li class="banner__item"><a href="about/lineup" class="banner__link">건설 119 출동대원 라인업</a></li>
				<li class="banner__item"><a href="" class="banner__link">건설 119 주요 활동 가이드라인</a></li>
				<li class="banner__item"><a href="/notice/noticelist" class="banner__link">공지사항</a></li>
			</ul>
		</div>
	</div>
</div>
</html>
