<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script>
		$(function() {;
			lineUpSet();
		});

		function lineUpSet(){

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/account/lineUpSet',
				type : 'post',
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					var $lineUpSet = $('#lineUpSet');

					var positionuserSize = res.data.positionuserSize;
					var disaterMap = res.data.disaterMap;
					var collapseMap = res.data.collapseMap;
					var disaterMapLength = Object.keys(disaterMap).length;
					var collapseMapLength = Object.keys(collapseMap).length;

					var teamTypeList = res.data.teamTypeList;
					var teamMap = res.data.teamMap;
					var teamMapLength = Object.keys(teamMap).length;
					console.log("positionuserSize : "+ positionuserSize);
					console.log("disaterMap : "+ disaterMap);
					console.log("disaterMapLength : "+ disaterMapLength);
					console.log("collapseMapLength : "+ collapseMapLength);
					console.log("disaterMap : "+ disaterMap[Object.keys(disaterMap)[0]] + "=" + Object.keys(disaterMap)[0]);
					console.log("collapseMap : "+ collapseMap[Object.keys(collapseMap)[0]] + "=" + Object.keys(collapseMap)[0]);

					console.log("teamTypeList : "+ teamTypeList);
					// console.log("teamMap : "+ teamMap[Object.keys(teamMap)[0]]);

					var chairpersonList = res.data.chairpersonList;
					var stewardList = res.data.stewardList;

					var positionnameList = res.data.positionnameList;
					var usernameList = res.data.usernameList;

					console.log("chairpersonList : "+ chairpersonList);
					console.log("stewardList : "+ stewardList);

					console.log("positionnameList : "+ positionnameList);
					console.log("usernameList : "+ usernameList);

					var html = '';

					html += '<tr>';
					html += '<th colspan="5">'+ "위원장" +'</th>';
					html += '</tr>';
					html += '<tr>';
					if(chairpersonList[0]!==undefined) {
						html += '<td colspan="5">';
						for(i=0; i<chairpersonList.length; i++){
							html += chairpersonList[i]
						}
						html += '</td>';
					}else{
						html += '<td colspan="5">'+ "공석" +'</td>';
					}
					html += '</tr>';

					html += '<tr>';
					html += '<th colspan="5">'+ "간사" +'</th>';
					html += '</tr>';
					html += '<tr>';
					if(stewardList[0]!==undefined) {
						html += '<td colspan="5">';
						for(i=0; i<stewardList.length; i++){
							html += stewardList[i]
						}
						html += '</td>';
					}else{
						html += '<td colspan="5">'+ "공석" +'</td>';
					}
					html += '</tr>';

					html += '<tr>';
					html += '<th colspan="2">'+ "재난·재해 분과" +'</th>';
					html += '<th>'+ "부서명" +'</th>';
					html += '<th>'+ "직급" +'</th>';
					html += '<th>'+ "전문가" +'</th>';
					html += '</tr>';

					console.log("")
					for(var c=0; c<teamMapLength; c++){
						console.log("teamMap : "+ teamMap[Object.keys(teamMap)[c]]);
					}

					var a=0;
					for(var j=0; j<positionnameList.length; j++){
						if(Object.keys(disaterMap)[j]==="붕괴"){
							html += '<tr>';
								html += '<td rowspan="' + disaterMap[Object.keys(disaterMap)[j]] + '">' + Object.keys(disaterMap)[j] + '</td>';
								if(a===0){
									html += '<td rowspan="' + collapseMap[Object.keys(collapseMap)[a]] + '">' + Object.keys(collapseMap)[a] + '</td>';
									html += '<td rowspan="' + teamMap[Object.keys(teamMap)[a]] + '">' + teamTypeList[0] + '</td>';
									for(var y=0; y<teamMap[Object.keys(teamMap)[a]]; y++) {
										html += '<td>' + positionnameList[0] + '</td>';
										html += '<td>' + usernameList[0] + '</td>';
										teamTypeList.shift();
										positionnameList.shift();
										usernameList.shift();
									}
									a++;
								}
							html += '</tr>';

								if(a!==collapseMap[Object.keys(collapseMap)[0]]){
									for(var b=0; b<collapseMapLength-1; b++){
										html += '<tr>';
										html += '<td rowspan="' + collapseMap[Object.keys(collapseMap)[a]] + '">' + Object.keys(collapseMap)[a] + '</td>';
										html += '<td rowspan="' + teamMap[Object.keys(teamMap)[a]] + '">' + teamTypeList[0] + '</td>';
										html += '<td>' + positionnameList[0] + '</td>';
										html += '<td>' + usernameList[0] + '</td>';
										html += '</tr>';
										teamTypeList.shift();
										positionnameList.shift();
										usernameList.shift();
										a++;
									}
								}else{
									for(var b=0; b<collapseMapLength-1; b++){
										html += '<tr>';
										html += '<td rowspan="' + collapseMap[Object.keys(collapseMap)[a]] + '">' + Object.keys(collapseMap)[a] + '</td>';
										html += '<td rowspan="' + teamMap[Object.keys(teamMap)[a]] + '">' + teamTypeList[0] + '</td>';
										html += '<td>' + positionnameList[0] + '</td>';
										html += '<td>' + usernameList[0] + '</td>';
										html += '</tr>';
										teamTypeList.shift();
										positionnameList.shift();
										usernameList.shift();
										a++;
									}
								}
						}else{
							html += '<tr>';
							html += '<td colspan="2" rowspan="' + disaterMap[Object.keys(disaterMap)[j]] + '">' + Object.keys(disaterMap)[j] + '</td>';
							html += '<td rowspan="' + teamMap[Object.keys(teamMap)[a]] + '">' + teamTypeList[0] + '</td>';
							html += '<td>' + positionnameList[0] + '</td>';
							html += '<td>' + usernameList[0] + '</td>';
							html += '</tr>';
							teamTypeList.shift();
							positionnameList.shift();
							usernameList.shift();
							a++;
						}


					// 	html += '<tr>';
					// 	html += '<td rowspan="' + res.data.collapseList[0] + '">' + "붕괴" + '</td>';
					// 	html += '<td rowspan="' + disaterCollapseMap[Object.keys(disaterCollapseMap)[0]] + '">' + Object.keys(disaterCollapseMap)[0] + '</td>';
					// 	html += '</tr>';
					// 	for (var i=1; i < res.data.disaterCollapseMapSize; i++) {
					// 		html += '<tr>';
					// 		html += '<td rowspan="' + disaterCollapseMap[Object.keys(disaterCollapseMap)[i]] + '">' + Object.keys(disaterCollapseMap)[i] + '</td>';
					// 		html += '</tr>';
					// 	}
					//
					}
					$lineUpSet.html(html);
				}
			});

		}

	</script>
</th:block>

	<div layout:fragment="content" class="content">
		<section class="section">
			<article class="article">
				<h2 class="article__heading">건설119 출동대원 라인업</h2>
				<div class="organization">
					<ul>
						<li>
							<a>위원장<br />(연구부원장)</a>
							<ul>
								<li>
									<a>간사<br />(노후인프라센터장)</a>
									<ul>
										<li>
											<a>붕괴</a>
											<ul>
												<li><a>건축물</a></li>
												<li><a>교량</a></li>
												<li><a>지반</a></li>
												<li><a>사면</a></li>
												<li><a>터널</a></li>
												<li><a>도로</a></li>
											</ul>
										</li>
										<li><a>화재/폭발</a></li>
										<li><a>지진</a></li>
										<li><a>싱크홀</a></li>
										<li><a>교통사고</a></li>
										<li><a>홍수/가뭄</a></li>
										<li><a>환경오염</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</article>
			
			<article class="article">
				<table class="organization-table">
					<colgroup>
						<col />
						<col />
						<col style="width: 25%;" />
						<col style="width: 25%;" />
						<col style="width: 25%;" />
					</colgroup>
					<tbody id="lineUpSet">
						<tr>
							<th colspan="5">위원장</th>
						</tr>
						<tr>
							<td colspan="5">정문경 연구부원장</td>
						</tr>
						<tr>
							<th colspan="5">간사</th>
						</tr>
						<tr>
							<td colspan="5">노후인프라센터 박기태 센터장</td>
						</tr>
						<tr>
							<th colspan="2">재난·재해 분과</th>
							<th>부서명</th>
							<th>직급</th>
							<th>전문가</th>
						</tr>

						<tr>
							<td rowspan="3">붕괴</td>
							<td rowspan="1">교량</td>
							<td rowspan="2">노후인프라센터</td>
							<td>수석연구원</td>
							<td>민지영</td>
						</tr>
						<tr>
							<td rowspan="1">건축물</td>
							<td>수석연구원</td>
							<td>김건수</td>
						</tr>
						<tr>
							<td rowspan="1">지반</td>
							<td rowspan="1">국민생활연구본부</td>
							<td>선임연구위원</td>
							<td>testname</td>
						</tr>

						<tr>
							<td colspan="2" rowspan="1">싱크홀</td>
							<td rowspan="1">국민생활연구본부</td>
							<td>수석연구원</td>
							<td>테스트아뒤</td>
						</tr>

						<tr>
							<td colspan="2" rowspan="1">홍수/가뭄</td>
							<td rowspan="1">복합재난대응연구단</td>
							<td>연구부원장</td>
							<td>테스트아뒤2</td>
						</tr>

					</tbody>
				</table>
			</article>
		</section>
	</div>
</html>