<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script>
		$(function() {;
			lineUpSet();
		});

		function lineUpSet(){

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/account/lineUpSet',
				type : 'post',
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					var $lineUpSet = $('#lineUpSet');
					var $lineUpSet2 = $('#lineUpSet2');

					var chairpersonList = res.data.chairpersonList; //위원장
					var stewardList = res.data.stewardList; //간사
					// console.log("위원장 : "+chairpersonList);
					// console.log("간사 : "+stewardList);

					var html = '';

					html += '<tr>';
					html += '<th colspan="5">'+ "위원장" +'</th>';
					html += '</tr>';
					html += '<tr>';
					if(chairpersonList[0]!==undefined) {
						html += '<td colspan="5">';
						for(i=0; i<chairpersonList.length; i++){
							html += chairpersonList[i]
						}
						html += '</td>';
					}else{
						html += '<td colspan="5">'+ "공석" +'</td>';
					}
					html += '</tr>';

					html += '<tr>';
					html += '<th colspan="5">'+ "간사" +'</th>';
					html += '</tr>';
					html += '<tr>';

					if(stewardList[0]!==undefined) {
						html += '<td colspan="5">';
						for(i=0; i<stewardList.length; i++){
							html += stewardList[i]
						}
						html += '</td>';
					}else{
						html += '<td colspan="5">'+ "공석" +'</td>';
					}
					html += '</tr>';

					html += '<tr>';
					html += '<th colspan="2">'+ "재난·재해 분과" +'</th>';
					html += '<th>'+ "부서명" +'</th>';
					html += '<th>'+ "직급" +'</th>';
					html += '<th>'+ "전문가" +'</th>';
					html += '</tr>';

					var htmlDisaterKey = res.data.htmlDisaterKey;
					var htmlCollapseKey = res.data.htmlCollapseKey;
					var disaterValue = res.data.disaterValue;
					var collapseValue = res.data.collapseValue;

					var teamTypeList = res.data.teamTypeList;
					var positionnameList = res.data.positionnameList;
					var usernameList = res.data.usernameList;

					// console.log("positionSize : "+positionSize);
					// console.log("htmlDisaterKey : "+htmlDisaterKey);
					// console.log("htmlCollapseKey : "+htmlCollapseKey);
					// console.log("disaterValue : "+disaterValue);
					// console.log("collapseValue : "+collapseValue);

					// console.log("teamTypeList : "+teamTypeList);
					// console.log("positionnameList : "+positionnameList);
					// console.log("usernameList : "+usernameList);

					var html2 = '';
					for(i=0; i<htmlDisaterKey.length; i++){
						if(htmlDisaterKey[i]==="붕괴"){
							for(j=0; j<htmlCollapseKey.length; j++){
								if(j===0){
									html2 += '<tr>'
									html2 += '<td rowspan="' + disaterValue[i] + '">' + htmlDisaterKey[i] + '</td>';
									html2 += '<td rowspan="' + collapseValue[j] + '">' + htmlCollapseKey[j] + '</td>'
									for(l=0; l<collapseValue[j]; l++) {
										if(l===0){
											html2 += '<td>' + teamTypeList[0] + '</td>';
											html2 += '<td>' + positionnameList[0] + '</td>';
											html2 += '<td>' + usernameList[0] + '</td>';
											html2 += '</tr>'
										}else{
											html2 += '<tr>'
											html2 += '<td>' + teamTypeList[0] + '</td>';
											html2 += '<td>' + positionnameList[0] + '</td>';
											html2 += '<td>' + usernameList[0] + '</td>';
											html2 += '</tr>'
										}
										teamTypeList.shift();
										positionnameList.shift();
										usernameList.shift();
									}
								}else{
									html2 += '<tr>'
									html2 += '<td rowspan="' + collapseValue[j] + '">' + htmlCollapseKey[j] + '</td>'
									for(l=0; l<collapseValue[j]; l++) {
										if(l===0){
											html2 += '<td>' + teamTypeList[0] + '</td>';
											html2 += '<td>' + positionnameList[0] + '</td>';
											html2 += '<td>' + usernameList[0] + '</td>';
											html2 += '</tr>'
										}else{
											html2 += '<tr>'
											html2 += '<td>' + teamTypeList[0] + '</td>';
											html2 += '<td>' + positionnameList[0] + '</td>';
											html2 += '<td>' + usernameList[0] + '</td>';
											html2 += '</tr>'
										}
										teamTypeList.shift();
										positionnameList.shift();
										usernameList.shift();
									}
								}
							}
						}else{
							html2 += '<tr>'
							html2 += '<td colspan="2" rowspan="' + disaterValue[i] + '">' + htmlDisaterKey[i] + '</td>';
							for(l=0; l<disaterValue[i]; l++) {
								if(l===0){
									html2 += '<td>' + teamTypeList[0] + '</td>';
									html2 += '<td>' + positionnameList[0] + '</td>';
									html2 += '<td>' + usernameList[0] + '</td>';
									html2 += '</tr>'
								}else{
									html2 += '<tr>'
									html2 += '<td>' + teamTypeList[0] + '</td>';
									html2 += '<td>' + positionnameList[0] + '</td>';
									html2 += '<td>' + usernameList[0] + '</td>';
									html2 += '</tr>'
								}
								teamTypeList.shift();
								positionnameList.shift();
								usernameList.shift();
							}
						}
					}
					$lineUpSet.html(html);
					$lineUpSet2.html(html2);
				}
			});

		}

	</script>
</th:block>

	<div layout:fragment="content" class="content">
		<section class="section">
			<article class="article">
				<h2 class="article__heading">건설119 출동대원 라인업</h2>
				<div class="organization">
					<ul>
						<li>
							<a>위원장<br />(연구부원장)</a>
							<ul>
								<li>
									<a>간사<br />(노후인프라센터장)</a>
									<ul>
										<li>
											<a>붕괴</a>
											<ul>
												<li><a>건축물</a></li>
												<li><a>교량</a></li>
												<li><a>지반</a></li>
												<li><a>사면</a></li>
												<li><a>터널</a></li>
												<li><a>도로</a></li>
											</ul>
										</li>
										<li><a>화재/폭발</a></li>
										<li><a>지진</a></li>
										<li><a>싱크홀</a></li>
										<li><a>교통사고</a></li>
										<li><a>홍수/가뭄</a></li>
										<li><a>환경오염</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</article>
			
			<article class="article">
				<table class="organization-table">
					<colgroup>
						<col />
						<col />
						<col style="width: 25%;" />
						<col style="width: 25%;" />
						<col style="width: 25%;" />
					</colgroup>

					<tbody id="lineUpSet">
					</tbody>

					<tbody id="lineUpSet2">
					</tbody>

				</table>
			</article>
		</section>
	</div>
</html>